<div class="main">
  <div class="managment-body">
    <div class="user-managment-container">
      <button
        mat-button
        [matMenuTriggerFor]="menu"
        class="btn btn-primary"
        type="button"
        style="max-width: 100px"
      >
        Menu
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setViewCallendar()">Kalendarz</button>
        <button mat-menu-item (click)="setViewOpinion()">Opinie</button>
        <button mat-menu-item [matMenuTriggerFor]="settings">Ustawienia</button>
        <button mat-menu-item (click)="setViewInfo()">Informacje</button>
      </mat-menu>

      <mat-menu #settings="matMenu">
        <button mat-menu-item (click)="setViewStand()">Stanowiska</button>
        <button mat-menu-item (click)="setViewServices()">Usługi</button>
        <button mat-menu-item (click)="setViewOpeningHours()">
          Godziny otwarcia
        </button>
      </mat-menu>

      <!-- Info -->
      <div [hidden]="!viewInfo" class="managment-body">
        <div class="branch-details">
          <div class="details-block">
            <h6>Firma:</h6>
            <b>NIP: </b><span>{{ usersCompanyBranch.company.nip }}</span> <br />
            <b>Nazwa: </b><span>{{ usersCompanyBranch.company.name }}</span>
            <br />
            <b>Tel: </b><span>{{ usersCompanyBranch.company.phone }}</span>
            <br />
            <b>Adres: </b><br />
            <span>{{ usersCompanyBranch.company.address.addressLine }}</span>
            <br />
            <span
              >{{ usersCompanyBranch.company.address.code }},
              {{ usersCompanyBranch.company.address.city }}</span
            >
            <br />
            <span
              >{{ usersCompanyBranch.company.address.state }},
              {{ usersCompanyBranch.company.address.country }}</span
            >
            <br />
          </div>
          <div class="details-block">
            <h6>Oddział:</h6>
            <b>Nazwa: </b><span>{{ usersCompanyBranch.name }}</span> <br />
            <b>Opis: </b><span>{{ usersCompanyBranch.description }}</span>
            <br />
            <b>Stworzony: </b><span>{{ usersCompanyBranch.createdDate }}</span>
            <br />
            <b>Tel: </b><span>{{ usersCompanyBranch.phone }}</span> <br />
            <b>Adres: </b><br />
            <span>{{ usersCompanyBranch.address.addressLine }}</span> <br />
            <span
              >{{ usersCompanyBranch.address.code }},
              {{ usersCompanyBranch.address.city }}</span
            >
            <br />
            <span
              >{{ usersCompanyBranch.address.state }},
              {{ usersCompanyBranch.address.country }}</span
            >
            <br />
          </div>
          <div class="details-block">
            <h6>Uzytkownik:</h6>
            <b
              >{{ usersCompanyBranch.user.firstName }}
              {{ usersCompanyBranch.user.lastName }}</b
            >
            <br />
            <span>{{ usersCompanyBranch.user.email }}</span> <br />
            <b>Tel: </b><span>{{ usersCompanyBranch.user.phone }}</span> <br />
            <b>Ur.: </b><span>{{ usersCompanyBranch.user.birthDate }}</span>
            <br />
            <b>Adres: </b><br />
            <span>{{ usersCompanyBranch.user.address.addressLine }}</span>
            <br />
            <span
              >{{ usersCompanyBranch.user.address.code }},
              {{ usersCompanyBranch.user.address.city }}</span
            >
            <br />
            <span
              >{{ usersCompanyBranch.user.address.state }},
              {{ usersCompanyBranch.user.address.country }}</span
            >
            <br />
          </div>
        </div>
      </div>

      <!-- Callendar -->
      <div [hidden]="!viewCallendar" class="managment-body">Kalendarz</div>

      <!-- Opinion -->
      <div [hidden]="!viewOpinion" class="managment-body">
        Opinie - taki manadżer
      </div>

      <!-- Stand -->
      <div [hidden]="!viewStand" class="managment-body">
        <div class="managment-body-one">
          <h4>Stanowiska</h4>
          <div class="table">
            <table
              mat-table
              [dataSource]="dataSourceStand"
              class="mat-elevation-z8"
            >
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="Numer">
                <th mat-header-cell *matHeaderCellDef>Numer</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.number }}
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="Akcja">
                <th mat-header-cell *matHeaderCellDef>Akcja</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    #btnRemove
                    mat-button
                    type="button"
                    value="{{ element.number }}"
                    class="btn btn-danger btn-business-managment"
                    (click)="standRemove(btnRemove)"
                  >
                    Usuń
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayColumnsStand"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayColumnsStand"
              ></tr>
            </table>
          </div>
          <button
            mat-button
            (click)="standAdd()"
            type="button"
            class="btn btn-primary"
          >
            Dodaj
          </button>
        </div>
      </div>

      <!-- Services -->
      <div [hidden]="!viewServices" class="managment-body">
        Usług - lista + Konfigurator
      </div>

      <!-- Opening hours -->
      <div [hidden]="!viewOpeningHours" class="managment-body">
        <div class="managment-body-one">
          <h4>Godziny otwarcia</h4>
          <div class="table-hours-opening">
            <div class="week-day">
              <div class="week-day-name">Poniedziałek</div>
              <div class="isOpen">
                <mat-slide-toggle color="primary" [checked]="monEnabled" (change)="monOpenClick()">
                  {{monIsOpen}}
                </mat-slide-toggle>
              </div>
              <div class="hours-opening">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of options" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
                <div class="from">
                  <input
                    id="monFrom"
                    class="input-left"
                    type="text"
                    maxlength="5"
                    placeholder="HH:MM"
                    [formControl]="monFromControl"
                    [matAutocomplete]="auto"
                  />
                </div>
                <span>-</span>
                <div class="to">
                  <input
                    id="monTo"
                    type="text"
                    maxlength="5"
                    placeholder="HH:MM"
                    [matAutocomplete]="auto"
                    [formControl]="monToControl"
                  />
                </div>
              </div>
            </div>
            <div class="week-day">
              <div class="week-day-name">Wtorek</div>
              <div class="isOpen">
                <mat-slide-toggle color="primary" [checked]="tueEnabled" (change)="tueOpenClick()">
                  {{tueIsOpen}}
                </mat-slide-toggle>
              </div>
              <div class="hours-opening">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of options" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
                <div class="from">
                  <input
                    id="monFrom"
                    class="input-left"
                    type="text"
                    maxlength="5"
                    placeholder="HH:MM"
                    [formControl]="tueFromControl"
                    [matAutocomplete]="auto"
                  />
                </div>
                <span>-</span>
                <div class="to">
                  <input
                    id="monTo"
                    type="text"
                    maxlength="5"
                    placeholder="HH:MM"
                    [matAutocomplete]="auto"
                    [formControl]="tueToControl"
                  />
                </div>
              </div>
            </div>
            <div class="week-day">
              <div class="week-day-name">Śrdoa</div>
              <div class="isOpen">
                <mat-slide-toggle color="primary" [checked]="wedEnabled" (change)="wedOpenClick()">
                  {{wedIsOpen}}
                </mat-slide-toggle>
              </div>
              <div class="hours-opening">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of options" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
                <div class="from">
                  <input
                    id="monFrom"
                    class="input-left"
                    type="text"
                    maxlength="5"
                    placeholder="HH:MM"
                    [formControl]="wedFromControl"
                    [matAutocomplete]="auto"
                  />
                </div>
                <span>-</span>
                <div class="to">
                  <input
                    id="monTo"
                    type="text"
                    maxlength="5"
                    placeholder="HH:MM"
                    [matAutocomplete]="auto"
                    [formControl]="wedToControl"
                  />
                </div>
              </div>
            </div>
            <div class="week-day">
              <div class="week-day-name">Czwartek</div>
              <div class="isOpen">
                <mat-slide-toggle color="primary" [checked]="thuEnabled" (change)="thuOpenClick()">
                  {{thuIsOpen}}
                </mat-slide-toggle>
              </div>
              <div class="hours-opening">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of options" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
                <div class="from">
                  <input
                    id="monFrom"
                    class="input-left"
                    type="text"
                    maxlength="5"
                    placeholder="HH:MM"
                    [formControl]="thuFromControl"
                    [matAutocomplete]="auto"
                  />
                </div>
                <span>-</span>
                <div class="to">
                  <input
                    id="monTo"
                    type="text"
                    maxlength="5"
                    placeholder="HH:MM"
                    [matAutocomplete]="auto"
                    [formControl]="thuToControl"
                  />
                </div>
              </div>
            </div>
            <div class="week-day">
              <div class="week-day-name">Piątek</div>
              <div class="isOpen">
                <mat-slide-toggle color="primary" [checked]="friEnabled" (change)="friOpenClick()">
                  {{friIsOpen}}
                </mat-slide-toggle>
              </div>
              <div class="hours-opening">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of options" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
                <div class="from">
                  <input
                    id="monFrom"
                    class="input-left"
                    type="text"
                    maxlength="5"
                    placeholder="HH:MM"
                    [formControl]="friFromControl"
                    [matAutocomplete]="auto"
                  />
                </div>
                <span>-</span>
                <div class="to">
                  <input
                    id="monTo"
                    type="text"
                    maxlength="5"
                    placeholder="HH:MM"
                    [matAutocomplete]="auto"
                    [formControl]="friToControl"
                  />
                </div>
              </div>
            </div>
            <div class="week-day">
              <div class="week-day-name">Sobota</div>
              <div class="isOpen">
                <mat-slide-toggle color="primary" [checked]="satEnabled" (change)="satOpenClick()">
                  {{satIsOpen}}
                </mat-slide-toggle>
              </div>
              <div class="hours-opening">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of options" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
                <div class="from">
                  <input
                    id="monFrom"
                    class="input-left"
                    type="text"
                    maxlength="5"
                    placeholder="HH:MM"
                    [formControl]="satFromControl"
                    [matAutocomplete]="auto"
                  />
                </div>
                <span>-</span>
                <div class="to">
                  <input
                    id="monTo"
                    type="text"
                    maxlength="5"
                    placeholder="HH:MM"
                    [matAutocomplete]="auto"
                    [formControl]="satToControl"
                  />
                </div>
              </div>
            </div>
            <div class="week-day">
              <div class="week-day-name">Niedziela</div>
              <div class="isOpen">
                <mat-slide-toggle color="primary" [checked]="sunEnabled" (change)="sunOpenClick()">
                  {{sunIsOpen}}
                </mat-slide-toggle>
              </div>
              <div class="hours-opening">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of options" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
                <div class="from">
                  <input
                    id="monFrom"
                    class="input-left"
                    type="text"
                    maxlength="5"
                    placeholder="HH:MM"
                    [formControl]="sunFromControl"
                    [matAutocomplete]="auto"
                  />
                </div>
                <span>-</span>
                <div class="to">
                  <input
                    id="monTo"
                    type="text"
                    maxlength="5"
                    placeholder="HH:MM"
                    [matAutocomplete]="auto"
                    [formControl]="sunToControl"
                  />
                </div>
              </div>
            </div>
            <button
            mat-button
            (click)="saveHoursOpening()"
            type="button"
            class="btn btn-primary btn-w-120px"
          >
            Zapisz
          </button>
          </div>
        </div>
      </div>

      <div class="managment-body"></div>
    </div>
  </div>
</div>
