<div class="main">
  <div class="managment-body">
    <div class="user-managment-container">
      <button
        mat-button
        [matMenuTriggerFor]="menu"
        class="btn btn-primary"
        type="button"
        style="max-width: 100px"
      >
        Menu
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setViewInfo()">Informacje</button>
        <button mat-menu-item (click)="setViewCallendar()">Kalendarz</button>
        <button mat-menu-item (click)="setViewOpinion()">Opinie</button>
        <button mat-menu-item [matMenuTriggerFor]="settings">Ustawienia</button>
      </mat-menu>

      <mat-menu #settings="matMenu">
        <button mat-menu-item (click)="setViewStand()">Stanowiska</button>
        <button mat-menu-item (click)="setViewServices()">Usługi</button>
      </mat-menu>

      <!-- Info -->
      <div [hidden]="!viewInfo" class="managment-body">
        Główne informacje o biznesie, tablica - lista biznesów - company branchy
      </div>

      <!-- Callendar -->
      <div [hidden]="!viewCallendar" class="managment-body">
        Kalendarz
    </div>

      <!-- Opinion -->
      <div [hidden]="!viewOpinion" class="managment-body">
        Opinie - taki manadżer
      </div>

      <!-- Stand -->
      <div [hidden]="!viewStand" class="managment-body">
        Lista stanowisk Dodaj usuń stanowisko
      </div>

      <!-- Services -->
      <div [hidden]="!viewServices" class="managment-body">
        Usług - lista + Konfigurator
      </div>

      <div class="managment-body"></div>
    </div>
  </div>
</div>
