<div class="main">
  <div class="user-managment-container">
    <div class="managment-body">
      <div class="menu">
        <div class="username-details">
          <h4>{{ username }}</h4>
        </div>
        <button id="menu-section__first" (click)="setContentData()">
          <span>Konto</span>
        </button>
        <button (click)="setContentVisits()">
          <span>Wizyty</span>
        </button>
        <button (click)="setContentFavorits()">
          <span>Ulubione</span>
        </button>
        <button (click)="setContentBusiness()">
          <span>Biznes</span>
        </button>
        <button id="logout-button" (click)="logout()">
          <span>Wyloguj</span>
        </button>
      </div>
      <div class="content">
        <div
          #contentData
          [hidden]="!isContentData"
          class="content-section_container"
        >
          <!-- Account Details -->

          <div class="header" ng-init="callBakc()">
            <h2>Ustawienia konta</h2>
          </div>
          <div class="content-section">
            <div class="header">
              <h4>Szczegóły konta</h4>
            </div>
            <div class="managment-form">
              <form
                [formGroup]="userAccountDetails"
                id="form-account-details"
                class="form"
              >
                <div class="form-group">
                  <input
                    type="text"
                    maxlength="50"
                    class="form-control"
                    id="InputFirstName"
                    placeholder="Imie"
                    required="required"
                    (keyup)="validFirstName()"
                    formControlName="firstName"
                  />
                  <label for="InputFirstName" class="form-label">Imie</label>
                  <small *ngIf="firstNameIsRequiredMessage"
                    >Imię jest wymagane.</small
                  >
                </div>

                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    maxlength="50"
                    id="InputLastName"
                    placeholder="Nazwisko"
                    required="required"
                    (keyup)="validLastName()"
                    formControlName="lastName"
                  />
                  <label for="InputLastName" class="form-label">Nazwisko</label>
                  <small *ngIf="lastNameIsRequiredMessage"
                    >Nazwisko jest wymagane.</small
                  >
                </div>
                <div class="form-group">
                  <input
                    type="email, text"
                    maxlength="150"
                    class="form-control"
                    id="InputEmail"
                    required="required"
                    placeholder="Email"
                    formControlName="email"
                    (keyup)="validEmail()"
                  />
                  <label for="InputEmail" class="form-label">Email</label>
                  <small *ngIf="emailIsRequiredMessage"
                    >Email jest wymagany.</small
                  >
                  <small *ngIf="emailIsNotValidMessage"
                    >Nieprawidłowy adres email.</small
                  >
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    maxlength="15"
                    class="form-control"
                    id="InputPhone"
                    required="required"
                    formControlName="phone"
                    placeholder="Telefon"
                    #phoneNumber
                    (keyup)="validPhone()"
                  />
                  <label for="InputPhone" class="form-label">Telefon</label>
                  <small *ngIf="phoneIsNotValidMessage"
                    >Nieprawidłowy numer telefonu.</small
                  >
                </div>
                <div class="form-group">
                  <h5>Płeć</h5>
                  <div class="gender">
                    <button
                      #btnMale
                      id="btnMale"
                      type="menu"
                      class="btn btn-left"
                      (click)="maleClick(btnMale, btnFemale, btnNull)"
                    >
                      <img src="assets/icon/gender-1.svg" alt="Mężczyzna" />
                    </button>
                    <button
                      #btnFemale
                      id="btnFemale"
                      type="menu"
                      class="btn"
                      (click)="femaleClick(btnMale, btnFemale, btnNull)"
                    >
                      <img src="assets/icon/gender-2.svg" alt="" />
                    </button>
                    <button
                      #btnNull
                      id="btnNull"
                      type="menu"
                      class="btn btn-right"
                      (click)="genderNullClick(btnMale, btnFemale, btnNull)"
                    >
                      <img src="assets/icon/gender-3.svg" alt="" />
                    </button>
                  </div>
                </div>
                <div class="form-group birth-date">
                  <!-- formControlName="" -->
                  <input
                  #birthDate
                    type="text"
                    class="form-control"
                    id="InputDate"
                    required="required"
                    placeholder="Dzień urodzenia YYYY-MM-DD"
                    [formControl]="birthDateControl"
                    (keyup)="dateController()"
                  />
                  <label for="InputDate" class="form-label"
                    >Dzień urodzenia YYYY-MM-DD</label
                  >

                  <small *ngIf="birthDateIsNotValidMessage"
                    >Nieprawdidłowa data</small
                  > 
                </div>
                <div class="form-group">
                  <button
                  *ngIf="updateAccountDetailsButtonVisable"
                    type="submit"
                    class="btn btn-primary"
                    (click)="accountDetailsUpdate()"
                  >
                    Aktualizuj
                  </button>
                </div>
              </form>
            </div>
          </div>

          <!-- Address -->

          <div class="content-section">
            <div class="header">
              <h4>Adres</h4>
            </div>
            <div class="managment-form">
              <form>
                <div class="form-group">
                  <input
                    type="text"
                    maxlength="100"
                    class="form-control"
                    id="InputStreet"
                    required="required"
                    placeholder="Ulica i numer"
                    aria-describedby="emailHelp"
                  />
                  <label for="InputStreet" class="form-label"
                    >Ulica i numer</label
                  >
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    maxlength="40"
                    class="form-control"
                    id="InputCity"
                    required="required"
                    placeholder="Miasto"
                    aria-describedby="emailHelp"
                  />
                  <label for="InputCity" class="form-label">Miasto</label>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    maxlength="6"
                    class="form-control"
                    id="InputPostalCode"
                    required="required"
                    placeholder="Kod pocztowy XX-XXX"
                    aria-describedby="emailHelp"
                  />
                  <label for="InputPostalCode" class="form-label"
                    >Kod pocztowy XX-XXX</label
                  >
                  <small>Nieprawdidłowy kod pocztowy</small>
                </div>
                <div class="form-group">
                  <label for="state">Województwo</label>
                  <select class="form-control" id="state">
                    <option
                      *ngFor="let state of states"
                      [value]="state.id"
                      [selected]="state.id == stateSelected"
                    >
                      {{ state.label }}
                    </option>
                  </select>
                </div>
                <button
                  type="submit"
                  class="btn btn-primary"
                  (click)="accounAddressUpdate()"
                >
                  Aktualizuj
                </button>
              </form>
            </div>
          </div>

          <!-- Changing password -->

          <div class="content-section">
            <div class="header">
              <h4>Zmiana hasła</h4>
            </div>
            <div class="managment-form">
              <form [formGroup]="newPasswordGroup" class="form">
                <div class="form-group">
                  <input
                    type="password"
                    maxlength="30"
                    class="form-control"
                    id="InputNewPass"
                    required="required"
                    aria-describedby="emailHelp"
                    formControlName="password"
                    (click)="passTouch()"
                  />
                  <label for="InputNewPass" class="form-label"
                    >Nowe hasło</label
                  >
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    maxlength="30"
                    class="form-control"
                    id="InputNewPassRepeat"
                    required="required"
                    aria-describedby="emailHelp"
                    formControlName="passwordRepeat"
                    (click)="passTouch()"
                  />
                  <label for="InputNewPassRepeat" class="form-label"
                    >Powtórz nowe hasło</label
                  >
                  <small *ngIf="passNotSameMessage"
                    >Podane hasła nie są identyczne</small
                  >
                  <small *ngIf="passToShortMessage"
                    >Minimalna długość hasła: 6 znaków</small
                  >
                </div>
                <button
                  *ngIf="passTouched"
                  type="submit"
                  class="btn btn-danger"
                  (click)="accountUpdatePassword()"
                  [disabled]="!newPassValid()"
                >
                  Zmień hasło
                </button>
              </form>
            </div>
          </div>
        </div>
        <div *ngIf="isContentVisits" class="content-section_container">
          Wizyty
        </div>
        <div *ngIf="isContentFavorits" class="content-section_container">
          Ulubione
        </div>
        <div *ngIf="isContentBusiness" class="content-section_container">
          Biznes
        </div>
      </div>
    </div>
  </div>
</div>
