<div class="main">
  <div class="user-managment-container">
    <div class="managment-body">
      <div class="menu">
        <div class="username-details">
          <h4>{{ username }}</h4>
        </div>
        <button id="menu-section__first" (click)="setContentData()">
          <span>Konto</span>
        </button>
        <button (click)="setContentVisits()">
          <span>Wizyty</span>
        </button>
        <button (click)="setContentFavorits()">
          <span>Ulubione</span>
        </button>
        <button (click)="setContentBusiness()">
          <span>Biznes</span>
        </button>
        <button *ngIf="isAdmin" (click)="adminManagment()">
          <span>Panel Administracyjny</span>
        </button>
        <button id="logout-button" (click)="logout()">
          <span>Wyloguj</span>
        </button>
      </div>
      <div class="content">
        <div
          #contentData
          [hidden]="!isContentData"
          class="content-section_container"
        >
          <!-- Account Details -->

          <div class="header">
            <h2>Ustawienia konta</h2>
          </div>
          <div class="content-section max-width-500">
            <div class="header">
              <h4>Szczegóły konta</h4>
            </div>
            <div class="managment-form">
              <form
                [formGroup]="userAccountDetails"
                id="form-account-details"
                class="form"
              >
                <div class="form-group">
                  <input
                    type="text"
                    maxlength="50"
                    class="form-control"
                    id="InputFirstName"
                    placeholder="Imie"
                    required="required"
                    (keyup)="validFirstName()"
                    formControlName="firstName"
                  />
                  <label for="InputFirstName" class="form-label">Imie</label>
                  <small *ngIf="firstNameIsRequiredMessage"
                    >Imię jest wymagane.</small
                  >
                </div>

                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    maxlength="50"
                    id="InputLastName"
                    placeholder="Nazwisko"
                    required="required"
                    (keyup)="validLastName()"
                    formControlName="lastName"
                  />
                  <label for="InputLastName" class="form-label">Nazwisko</label>
                  <small *ngIf="lastNameIsRequiredMessage"
                    >Nazwisko jest wymagane.</small
                  >
                </div>
                <div class="form-group">
                  <input
                    type="email, text"
                    maxlength="150"
                    class="form-control"
                    id="InputEmail"
                    required="required"
                    placeholder="Email"
                    formControlName="email"
                    (keyup)="validEmail()"
                  />
                  <label for="InputEmail" class="form-label">Email</label>
                  <small *ngIf="emailIsRequiredMessage"
                    >Email jest wymagany.</small
                  >
                  <small *ngIf="emailIsNotValidMessage"
                    >Nieprawidłowy adres email.</small
                  >
                  <small *ngIf="emailExist">Taki email już istnieje.</small>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    maxlength="15"
                    class="form-control"
                    id="InputPhone"
                    required="required"
                    formControlName="phone"
                    placeholder="Telefon"
                    #phoneNumber
                    (keyup)="validUserPhone()"
                  />
                  <label for="InputPhone" class="form-label">Telefon</label>
                  <small *ngIf="phoneIsNotValidMessage"
                    >Nieprawidłowy numer telefonu.</small
                  >
                </div>
                <div class="form-group">
                  <h5>Płeć</h5>
                  <div class="gender">
                    <button
                      #btnMale
                      id="btnMale"
                      type="menu"
                      class="btn btn-left"
                      (click)="maleClick(btnMale, btnFemale, btnNull)"
                    >
                      <img src="assets/icon/gender-1.svg" alt="Mężczyzna" />
                    </button>
                    <button
                      #btnFemale
                      id="btnFemale"
                      type="menu"
                      class="btn"
                      (click)="femaleClick(btnMale, btnFemale, btnNull)"
                    >
                      <img src="assets/icon/gender-2.svg" alt="" />
                    </button>
                    <button
                      #btnNull
                      id="btnNull"
                      type="menu"
                      class="btn btn-right"
                      (click)="genderNullClick(btnMale, btnFemale, btnNull)"
                    >
                      -
                      <!-- <img src="assets/icon/gender-3.svg" alt="" /> -->
                    </button>
                  </div>
                </div>
                <div class="form-group birth-date">
                  <!-- formControlName="" -->
                  <input
                    #birthDate
                    type="text"
                    class="form-control"
                    id="InputDate"
                    required="required"
                    placeholder="Dzień urodzenia YYYY-MM-DD"
                    [formControl]="birthDateControl"
                    (keyup)="dateController()"
                  />
                  <label for="InputDate" class="form-label"
                    >Dzień urodzenia YYYY-MM-DD</label
                  >

                  <small *ngIf="birthDateIsNotValidMessage"
                    >Nieprawdidłowa data</small
                  >
                </div>
                <div class="form-group">
                  <button
                    *ngIf="updateAccountDetailsButtonVisable"
                    type="submit"
                    class="btn btn-primary"
                    (click)="accountDetailsUpdate()"
                  >
                    Aktualizuj
                  </button>
                </div>
              </form>
            </div>
          </div>

          <!-- Address -->

          <div class="content-section max-width-500">
            <div class="header">
              <h4>Adres</h4>
            </div>
            <div class="managment-form">
              <form [formGroup]="userAddress" class="form">
                <div class="form-group">
                  <input
                    type="text"
                    maxlength="100"
                    class="form-control"
                    id="InputStreet"
                    required="required"
                    placeholder="Ulica i numer"
                    formControlName="addressLine"
                    (keyup)="
                      checkAddressValueChanges(selectState, selectCountry)
                    "
                  />
                  <label for="InputStreet" class="form-label"
                    >Ulica i numer</label
                  >
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    maxlength="40"
                    class="form-control"
                    id="InputCity"
                    required="required"
                    placeholder="Miasto"
                    formControlName="city"
                    (keyup)="
                      checkAddressValueChanges(selectState, selectCountry)
                    "
                  />
                  <label for="InputCity" class="form-label">Miasto</label>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    maxlength="6"
                    class="form-control"
                    id="InputPostalCode"
                    required="required"
                    placeholder="Kod pocztowy XX-XXX"
                    formControlName="postalCode"
                    (keyup)="
                      checkAddressValueChanges(selectState, selectCountry)
                    "
                  />
                  <label for="InputPostalCode" class="form-label"
                    >Kod pocztowy XX-XXX</label
                  >
                  <small *ngIf="postalCodeNotValidMessage"
                    >Nieprawdidłowy kod pocztowy</small
                  >
                </div>
                <div class="form-group">
                  <!-- <label for="state">Województwo</label> -->
                  <div class="form-control select-dropdown">
                    <select
                      #selectState
                      id="state"
                      (click)="
                        checkAddressValueChanges(selectState, selectCountry)
                      "
                    >
                      <option
                        *ngFor="let state of states"
                        [value]="state.id"
                        [selected]="state.id == stateSelected"
                      >
                        {{ state.label }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-control select-dropdown">
                    <select
                      #selectCountry
                      id="country"
                      (click)="
                        checkAddressValueChanges(selectState, selectCountry)
                      "
                    >
                      <option
                        *ngFor="let country of countries"
                        [value]="country.id"
                        [selected]="country.id == countrySelected"
                      >
                        {{ country.label }}
                      </option>
                    </select>
                  </div>
                </div>
                <button
                  *ngIf="updateAddressButtonVisable"
                  type="submit"
                  class="btn btn-primary"
                  (click)="accounAddressUpdate(selectState, selectCountry)"
                >
                  Aktualizuj
                </button>
              </form>
            </div>
          </div>

          <!-- Changing password -->

          <div class="content-section max-width-500">
            <div class="header">
              <h4>Zmiana hasła</h4>
            </div>
            <div class="managment-form">
              <form [formGroup]="newPasswordGroup" class="form">
                <div class="form-group">
                  <input
                    type="password"
                    maxlength="30"
                    class="form-control"
                    id="InputNewPass"
                    required="required"
                    aria-describedby="emailHelp"
                    formControlName="password"
                    placeholder="Nowe hasło"
                    (click)="passTouch()"
                  />
                  <label for="InputNewPass" class="form-label"
                    >Nowe hasło</label
                  >
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    maxlength="30"
                    class="form-control"
                    id="InputNewPassRepeat"
                    required="required"
                    aria-describedby="emailHelp"
                    formControlName="passwordRepeat"
                    placeholder="Powtórz nowe hasło"
                    (click)="passTouch()"
                  />
                  <label for="InputNewPassRepeat" class="form-label"
                    >Powtórz nowe hasło</label
                  >
                  <small *ngIf="passNotSameMessage"
                    >Podane hasła nie są identyczne</small
                  >
                  <small *ngIf="passToShortMessage"
                    >Minimalna długość hasła: 6 znaków</small
                  >
                </div>
                <button
                  *ngIf="passTouched"
                  type="submit"
                  class="btn btn-danger"
                  (click)="accountUpdatePassword()"
                  [disabled]="!newPassValid()"
                >
                  Zmień hasło
                </button>
              </form>
            </div>
          </div>
        </div>
        <div *ngIf="isContentVisits" class="content-section_container">
          Wizyty
        </div>
        <div *ngIf="isContentFavorits" class="content-section_container">
          Ulubione
        </div>
        <div [hidden]="!isContentBusiness" class="content-section_container">
          <div class="header">
            <h2>Strefa dla biznesu</h2>
          </div>

          <div class="content-section" [hidden]="!businessList">
            <div class="header">
              <h4>Twój biznes</h4>
            </div>

            <button
              class="btn btn-secondary badge badge-secondary margin-top"
              (click)="addBusiness()"
            >
              + Dodaj
            </button>

            <table
              mat-table
              [dataSource]="businesses"
              class="mat-elevation-z8 demo-table"
            >
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef>L.P.</th>
                <td mat-cell *matCellDef="let element">{{ element.noId }}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nazwa</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.position }} - {{ element.companyBranchName }}
                </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">
                  <span class="badge margin {{ element.statusClass }}">{{
                    element.companyBranchStatus
                  }}</span>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
            </table>
          </div>

          <div
            class="content-section max-width-500"
            [hidden]="!createBusinessStart"
          >
            <div class="header">
              <h4>Zacznij korzystać za darmo</h4>
            </div>
            <div class="managment-form one-column">
              <button
                type="button"
                class="btn btn-primary"
                (click)="businessStepOne()"
              >
                Rozpocznij
              </button>
              <small *ngIf="emptyUserDetailsMessage"
                >Rozszerzenie konta dla biznesu wymagane jest uzupełnienie
                wszystkich danych personalnych w zakładce <b>Konto</b></small
              >
              <ul>
                <li>
                  <small *ngIf="emptyPhoneNumberMessage"
                    >Brak numeru telefonu</small
                  >
                </li>
                <li>
                  <small *ngIf="emptyBirthDateMessage"
                    >Brak daty urodzenia</small
                  >
                </li>
                <li>
                  <small *ngIf="emptyAddressStreeMessage"
                    >Adres - brak ulicy</small
                  >
                </li>
                <li>
                  <small *ngIf="emptyAddressCityMessage"
                    >Adres - brak miasta</small
                  >
                </li>
                <li>
                  <small *ngIf="emptyAddressPostalCodeMessage"
                    >Adres - brak kodu pocztowego</small
                  >
                </li>
                <li>
                  <small *ngIf="emptyAddressStateMessage"
                    >Adres - brak województwa</small
                  >
                </li>
                <li>
                  <small *ngIf="emptyAddressCountryMessage"
                    >Adres - brak Państwa</small
                  >
                </li>
              </ul>
            </div>
          </div>

          <div
            class="content-section max-width-500"
            [hidden]="!createBusinessNip"
          >
            <div class="header">
              <h4>Wypełnij dane</h4>
            </div>

            <!-- Pokazanie listy biznesow jezeli user ma z niapmi i nazwa
            Pytanie czy chcesz dodac oddzial do istniejacego biznesu czy 
          stworzyc nowy biznes i z nowym oddzialem
        Jeżeli kliknie w nip to przechodzi do podania nazwy i adresu, jak wpisze taki jak juz istnieje,
      to BE to musi sprawdzić i nie pozowli już mu założyć drugiego takiego samego oddziału w tym samym miejscu. 
    Jak będzie chciał dodać nowy biznes to poakzuje sie NIP-->

            <div class="managment-form one-column">
              <form action="create-business-nip" class="form">
                <div class="form-group">
                  <input
                    #inputNip
                    type="text"
                    maxlength="13"
                    class="form-control"
                    id="inputNip"
                    placeholder="NIP"
                    required="required"
                    (keyup)="checkNip(inputNip)"
                  />
                  <label for="inputNip" class="form-label">NIP</label>
                  <small *ngIf="nipIsNotValidMessage">Nieprawidowy NIP</small>
                </div>
                <div class="form-group">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="businessStepTwo(inputNip)"
                  >
                    Dalej
                  </button>
                </div>
              </form>
            </div>
          </div>

          <div
            class="content-section max-width-500"
            [hidden]="!createBusinessDetails"
          >
            <div class="header">
              <h4>Wypełnij dane</h4>
            </div>
            <div class="managment-form one-column">
              <form
                action="create-business-nip"
                class="form widht-100"
                [formGroup]="businessDetails"
              >
                <div class="form-group">
                  <input
                    type="text"
                    maxlength="255"
                    class="form-control"
                    id="inputCompanyName"
                    placeholder="Nazwa"
                    required="required"
                    formControlName="name"
                  />
                  <label for="inputCompanyName" class="form-label">Nazwa</label>
                  <small *ngIf="businessNameIsRequiredMessage"
                    >Nazwa jest wymagana</small
                  >
                </div>

                <div class="form-group">
                  <input
                    type="text"
                    maxlength="255"
                    class="form-control"
                    id="InputCompanyStreet"
                    required="required"
                    placeholder="Ulica i numer"
                    formControlName="addressLine"
                  />
                  <label for="InputCompanyStreet" class="form-label"
                    >Ulica i numer</label
                  >
                  <small *ngIf="businessStreetIsRequiredMessage"
                    >Ulica i numer są wymagane</small
                  >
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    maxlength="40"
                    class="form-control"
                    id="InputCompanyCity"
                    required="required"
                    placeholder="Miasto"
                    formControlName="city"
                  />
                  <label for="InputCompanyCity" class="form-label"
                    >Miasto</label
                  >
                  <small *ngIf="businessCityIsRequiredMessage"
                    >Miasto jest wymagane</small
                  >
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    maxlength="6"
                    class="form-control"
                    id="InputCompanyPostalCode"
                    required="required"
                    placeholder="Kod pocztowy XX-XXX"
                    formControlName="postalCode"
                  />
                  <label for="InputCompanyPostalCode" class="form-label"
                    >Kod pocztowy XX-XXX</label
                  >
                  <small *ngIf="businessPostalCodeIsRequiredMessage"
                    >Kod pocztowy jest wymagany</small
                  >
                  <small *ngIf="businessPostalCodeIsNotValidMessage"
                    >Nieprawdidłowy kod pocztowy</small
                  >
                </div>
                <div class="form-group">
                  <!-- <label for="state">Województwo</label> -->
                  <div class="form-control select-dropdown">
                    <select
                      #selectStateBusiness
                      id="companyState"
                      #businessState
                    >
                      <option *ngFor="let state of states" [value]="state.id">
                        {{ state.label }}
                      </option>
                    </select>
                    <small *ngIf="businessStateIsRequiredMessage"
                      >Województwo jest wymagane</small
                    >
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-control select-dropdown">
                    <select
                      #selectCountryBusiness
                      id="companyCountry"
                      #businessCountry
                    >
                      <option
                        *ngFor="let country of countries"
                        [value]="country.id"
                        [selected]="country.id == 1"
                      >
                        {{ country.label }}
                      </option>
                    </select>
                    <small *ngIf="businessCountryIsRequiredMessage"
                      >Państwo jest wymagane</small
                    >
                  </div>
                </div>

                <div class="form-group">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="businessStepThree(businessState, businessCountry)"
                  >
                    Dalej
                  </button>
                </div>
              </form>
            </div>
          </div>

          <div
            class="content-section max-width-500"
            [hidden]="!createBusinessPhones"
          >
            <div class="header">
              <h4>Kontakt</h4>
            </div>
            <div class="managment-form">
              <form action="create-business-phone" class="form">
                <div class="form-group">
                  <input
                    #businessPhoneFirst
                    type="text"
                    maxlength="15"
                    class="form-control"
                    id="inputPhoneFirst"
                    placeholder="Numer tel."
                    required="required"
                  />
                  <label for="inputPhoneFirst" class="form-label"
                    >Numer tel.</label
                  >
                  <small *ngIf="phoneFirstIsNotValidMessage"
                    >Nieprawidłowy numer telefonu.</small
                  >
                  <small *ngIf="phoneFirstIsRequiredMessage"
                    >Numer obowiązkowy</small
                  >
                </div>

                <div class="form-group">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="businessStepFour(businessPhoneFirst)"
                  >
                    Dalej
                  </button>
                </div>
              </form>
            </div>
          </div>

          <div
            class="content-section max-width-500"
            [hidden]="!createBusinessDescription"
          >
            <div class="header">
              <h4>Opis działalności</h4>
            </div>
            <div class="managment-form">
              <form action="create-business-nip" class="form">
                <div class="form-group">
                  <input
                    #businessDisplayName
                    type="text"
                    class="form-control"
                    id="inputDisplayName"
                    placeholder="Wyświetlana nazwa (opcjonalnie)"
                    required="required"
                  />
                  <label for="inputDisplayName" class="form-label"
                    >Wyświetlana nazwa</label
                  >
                  <small class="text-gray"
                    ><b>Skrócona nazwa firmy/oddziału</b><br />
                    Nazwa która będzie wyświetlana w serwisie. <br />
                    Brak wypełnienia = Cała nazwa firmy</small
                  >
                </div>

                <div class="form-group">
                  <textarea
                    #busienssDescription
                    cols="2"
                    type="textarea"
                    maxlength="1000"
                    class="form-control"
                    id="inputCompanyDescription"
                    placeholder="Krótki opis twojej firmy (opcjonalnie)"
                    required="required"
                    style="height: 100px"
                  ></textarea>
                  <label for="inputCompanyDescription" class="form-label"
                    >Opis</label
                  >
                </div>

                <div class="form-group">
                  <form action="address-company-branch" class="form">
                    <label class="radio-group-label"
                      >Adres wykonywanej działalności</label
                    >
                    <div class="form-check">
                      <input
                        #inputAddressFalse
                        type="radio"
                        class="form-check-input"
                        id="radio1"
                        name="optradio"
                        value="false"
                        checked
                        (click)="companyBranchAddressVisable(inputAddressFalse)"
                      />Taki sam jak działalności
                      <label class="form-check-label" for="radio1"></label>
                    </div>
                    <div class="form-check">
                      <input
                        #inputAddressTrue
                        type="radio"
                        class="form-check-input"
                        id="radio2"
                        name="optradio"
                        value="true"
                        (click)="companyBranchAddressVisable(inputAddressTrue)"
                      />Inny
                      <label class="form-check-label" for="radio2"></label>
                    </div>
                  </form>
                </div>

                <div
                  class="form-group"
                  [hidden]="!createBusinessAddressCompanyBranch"
                >
                  <form class="form" [formGroup]="companyBranchDetails">
                    <div class="form-group">
                      <input
                        type="text"
                        maxlength="255"
                        class="form-control"
                        id="InputCompanyBranchStreet"
                        required="required"
                        placeholder="Ulica i numer"
                        formControlName="addressLine"
                      />
                      <label for="InputCompanyBranchStreet" class="form-label"
                        >Ulica i numer</label
                      >
                      <small *ngIf="companyBranchStreetIsRequiredMessage"
                        >Ulica i numer są wymagane</small
                      >
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        maxlength="40"
                        class="form-control"
                        id="InputCompanyBranchCity"
                        required="required"
                        placeholder="Miasto"
                        formControlName="city"
                      />
                      <label for="InputCompanyBranchCity" class="form-label"
                        >Miasto</label
                      >
                      <small *ngIf="companyBranchCityIsRequiredMessage"
                        >Miasto jest wymagane</small
                      >
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        maxlength="6"
                        class="form-control"
                        id="InputCompanyBranchPostalCode"
                        required="required"
                        placeholder="Kod pocztowy XX-XXX"
                        formControlName="postalCode"
                      />
                      <label for="InputCompanyBranchPostalCode" class="form-label"
                        >Kod pocztowy XX-XXX</label
                      >
                      <small *ngIf="companyBranchPostalCodeIsRequiredMessage"
                        >Kod pocztowy jest wymagany</small
                      >
                      <small *ngIf="companyBranchPostalCodeIsNotValidMessage"
                        >Nieprawdidłowy kod pocztowy</small
                      >
                    </div>
                    <div class="form-group">
                      <!-- <label for="state">Województwo</label> -->
                      <div class="form-control select-dropdown">
                        <select #selectStateCompanyBranch id="companyBranchState">
                          <option
                            *ngFor="let state of states"
                            [value]="state.id"
                          >
                            {{ state.label }}
                          </option>
                        </select>
                        <small *ngIf="companyBranchStateIsRequiredMessage"
                          >Województwo jest wymagane</small
                        >
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-control select-dropdown">
                        <select #selectCountryCompanyBranch id="companyBranchCountry">
                          <option
                            *ngFor="let country of countries"
                            [value]="country.id"
                            [selected]="country.id == 1"
                          >
                            {{ country.label }}
                          </option>
                        </select>
                        <small *ngIf="companyBranchCountryIsRequiredMessage"
                          >Państwo jest wymagane</small
                        >
                      </div>
                    </div>
                  </form>
                </div>

                <div class="form-group">
                  <form action="address-company-branch" class="form">
                    <label class="radio-group-label">Telefon</label>
                    <div class="form-check">
                      <input
                        #inputPhoneFalse
                        type="radio"
                        class="form-check-input"
                        id="radio3"
                        name="optradio"
                        value="false"
                        checked
                        (click)="companyBranchPhoneVisable(inputAddressFalse)"
                      />Taki sam jak działalności
                      <label class="form-check-label" for="radio3"></label>
                    </div>
                    <div class="form-check">
                      <input
                        #inputPhoneTrue
                        type="radio"
                        class="form-check-input"
                        id="radio4"
                        name="optradio"
                        value="true"
                        (click)="companyBranchPhoneVisable(inputAddressTrue)"
                      />Inny
                      <label class="form-check-label" for="radio4"></label>
                    </div>
                  </form>
                </div>

                <div
                  class="form-group"
                  [hidden]="!createBusinessPhoneCompanyBranch"
                >
                  <form action="create-business-phone" class="form">
                    <div class="form-group">
                      <input
                        #businessPhoneCompanyBranch
                        type="text"
                        maxlength="15"
                        class="form-control"
                        id="inputPhoneCompanyBranch"
                        placeholder="Numer tel."
                        required="required"
                      />
                      <label for="inputPhoneCompanyBranch" class="form-label"
                        >Numer tel.</label
                      >
                      <small *ngIf="phoneCompanyBranchIsNotValidMessage"
                        >Nieprawidłowy numer telefonu.</small
                      >
                      <small *ngIf="phoneCompanyBranchIsRequiredMessage"
                        >Numer obowiązkowy</small
                      >
                    </div>
                  </form>
                </div>
                <!-- Checkbox czy chcesz podać inny numer do miejsca wykonywania usług
              Jeżeli tak to pokazuje sie input z numerem do wpisania 
            Jeżeli nie to przypisujemy do zmiennej numer do oddzialu - może być taaki sam 
          jak pierwszy, BE będzie wiedział co z tym zrobić :) -->

                <div class="form-group">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="
                      businessStepFive(
                        businessDisplayName,
                        busienssDescription,
                        selectStateCompanyBranch,
                        selectCountryCompanyBranch,
                        businessPhoneCompanyBranch
                      )
                    "
                  >
                    Dalej
                  </button>
                </div>
              </form>
            </div>
          </div>

          <div
            class="content-section max-width-500"
            [hidden]="!createBusinessSummary"
          >
            <div class="header">
              <h4>Podsumowanie</h4>
            </div>
            <div class="managment-form">
              <div class="form-group business-summary">
                <h5>Dane firmy</h5>
                <div class="description">
                  NIP: {{ busienssDataNIP }} <br />
                  {{ businessDetails.value.name }}<br />
                  {{ businessDetails.value.addressLine }}<br />
                  {{ businessDetails.value.city }},
                  {{ businessDetails.value.postalCode }} <br />
                  {{ states[busienssDataStateId].label }},
                  {{ countries[busienssDataCountryId].label }} <br />
                  Tel. {{ busienssDataPhoneFirst }} 
                </div>
                <br /><br />
                <h5>Oddział</h5>
                <div class="description">
                  {{ companyBranchName }} <br>
                  {{ companyBranchDetails.value.addressLine }} <br>
                  {{ companyBranchDetails.value.city }},
                  {{ companyBranchDetails.value.postalCode }} <br />
                  {{ states[companyBranchDataStateId].label }},
                  {{ countries[companyBranchDataCountryId].label }} <br />
                  Tel. {{ companyBranchDataPhone }} 
                </div>
                <br /><br />
                <h5>Opis</h5>
                <div class="description">
                  {{ busienssDataDescription }}
                </div>
              </div>

              <div class="form-group flex-row">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="businessStepOne()"
                >
                  Zmień dane
                </button>
                <button
                  type="submit"
                  class="btn btn-success"
                  style="margin-left: 1em"
                  (click)="createBusiness()"
                >
                  Utwórz
                </button>
              </div>
            </div>
          </div>

          <div class="content-section max-width-500" *ngIf="createBusinessEnd">
            <div class="form-group flex-row">
              <h5>Dziękujemy za założenie konta biznes w naszym serwisie</h5>
              Otrzymaliśmy twoje zgłoszenie. Więcej szczegółów prześlemy w
              wiadomości e-mail. Pełen dostęp do serwisu będzie możliwy po
              pozytywnym wyniku werfikacji Państwa firmy.
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              (click)="setContentBusiness()"
            >
              Zakończ
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
