<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wulkanizator</title>
  </head>
  <body>
    <header>
      <h1>
        <span>Wulkanizator</span>
      </h1>
      <section class="login">
        <img
          src="assets/images/user-circle-thin-32.png"
          alt="Ikonka użytkownika"
          height="24px"
        />

        <button class="login-button" (click)="open(content)">
          Login / Register
        </button>
      </section>

      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-popup">
          <div class="modal-header">
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="d('Cross click')"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Pills navs -->
            <ul
              class="nav nav-pills nav-justified mb-3"
              id="ex1"
              role="tablist"
            >
              <li class="nav-item" role="presentation" (click)="loginTab()">
                <a
                  class="nav-link active"
                  id="tab-login"
                  data-mdb-toggle="pill"
                  href="#pills-login"
                  role="tab"
                  aria-controls="pills-login"
                  aria-selected="true"
                  >Login</a
                >
              </li>
              <li class="nav-item" role="presentation" (click)="registerTab()">
                <a
                  class="nav-link"
                  id="tab-register"
                  data-mdb-toggle="pill"
                  href="#pills-register"
                  role="tab"
                  aria-controls="pills-register"
                  aria-selected="false"
                  >Register</a
                >
              </li>
            </ul>

            <div class="form-login">
              <!-- Email input -->
              <div class="form-outline">
                <input type="email, text" id="loginName" required="required" class="form-control" />
                <label class="form-label" for="loginName"
                  >Email</label
                >
              </div>

              <!-- Password input -->
              <div class="form-outline">
                <input
                  type="password"
                  id="loginPassword"
                  class="form-control"
                  required="required"
                />
                <label class="form-label" for="loginPassword">Password</label>
              </div>

              <div class="form-login-options">
                <div class="form-login-options__cell">
                  <!-- Checkbox -->
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="loginCheck"
                      checked
                    />
                    <label class="form-check-label" for="loginCheck">
                      Remember me
                    </label>
                  </div>
                </div>

                <div class="form-login-options__cell">
                  <!-- Simple link -->
                  <a href="#!">Forgot password?</a>
                </div>
              </div>

              <!-- Submit button -->
  
              <button type="submit" class="btn btn-primary btn-block mb-4 sign-in"  (click)="login(c)">
                Sign in
              </button>
        

              <!-- Register buttons -->
              <div class="text-center">
                <p>Not a member? <a href="#!">Register</a></p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button
              type="button"
              class="btn btn-outline-dark"
              (click)="c('Save click')"
            >
              Save
            </button> -->
          </div>
        </div>
      </ng-template>
    </header>

    <main>
      <section class="search-engine">
        <span>Wyszukaj usługę</span>
        <div class="search__input-container">
          <label for="search"
            ><img src="assets/images/search-thin.svg" alt="Ikona wyszukiwania" class="serarch-icon"
          /></label>
          <input type="text" id="search" />
          <label for="search" class="search-word">Szukaj</label>
        </div>
      </section>
      <section class="recommend">
        <span> Polecamy </span>

        <div class="business-list">
          <div
            *ngFor="let business of businesses"
            class="popular-business-container"
          >
            <div class="business-head">
              <div class="business-name">
                <span>{{ business.name }}</span>
              </div>
              <div class="business-rating">
                <span>5,0</span>
              </div>
            </div>
            <div class="business-address">
              <span>
                {{ business.address.addressLineOne }},
                {{ business.address.code }}, {{ business.address.city }},
                {{ business.address.state }}</span
              >
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>© 2022 Wulkanizator. All rights reserved</footer>
  </body>
</html>
