<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wulkanizator</title>
  </head>
  <body>
    <header>
      <div class="header">

          <h1>
            <span>WULKANIZATOR</span>
          </h1>
          <section class="login">
            <img
              src="assets/images/user-circle-thin-32.png"
              alt="Ikonka użytkownika"
              height="24px"
            />
            <app-login></app-login>
          </section>
      </div>
    </header>
    <main>
      <router-outlet></router-outlet>
      <notifier-container></notifier-container>
    </main>
    <footer>© 2022 Wulkanizator. All rights reserved</footer>
  </body>
</html>
