/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;300;400;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/themes/prism.css");
@import "~angular-notifier/styles";

:root {
  --color-text-white: #fdfdfd;
  --color-background-dark: #1f1f1f;
  --color-background-light: #2f2f2f;
  --color-backgorund-white: #999;
  --color-footer-light: RGBA(0, 0, 0, 0.2);
  --color-footer-dark: RGBA(0, 0, 0, 0.3);
  --color-search-engine: RGBA(255, 255, 255, 0.2);
  --text-white-shadow: 2px 2px 10px RGBA(0, 0, 0, 0.5);
  --element-shadow-dark: 0px 0px 16px RGBA(0, 0, 0, 0.5);
  --color-form-focus: #0d6efd;
  --color-form-gray: #4f4f4f;
  --color-form-inactive: #212529;
  --color-form-start-border: 1px solid #ced4da;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-text-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-backgorund-white);
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
}
header{
  background-image: linear-gradient(
    to right top,
    var(--color-background-dark),
    var(--color-background-light)
  );
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 800px;
  min-width: 70%;
  margin: 0 auto;
  padding: 50px 0px;
  border-bottom: var(--color-text-white) solid 1px;
}

main{

}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  justify-content: flex-start;
}

footer {
  margin-top: auto;
  background: linear-gradient(
    to bottom,
    var(--color-footer-dark),
    var(--color-footer-light)
  );
  padding: 30px 0 30px 30px;
}
.modal-popup {
  color: black;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-login_flex {
  display: flex;
  flex-direction: column;
}

.text-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hypertext{
  color: #0d6efd;
  font-weight: 500;
  text-decoration: underline;
}

hypertext:focus{
  outline: none;
  border: none;
}

.form-control:focus ~ .form-label,
.form-control:valid ~ .form-label {
  transform: translateX(-1em) translateY(-33px);
  color: var(--color-form-focus);
  background-color: white;
  font-size: 95%;
  transition: ease-in-out 0.2s;
}

.form-outline {
  position: relative;
  padding: 16px 0px;
}

.form-label {
  position: absolute;
  padding: 0 5px;
  color: var(--color-form-gray);
  top: 50%;
  transform: translateY(-50%);
  left: 1.5em;
}

.form-check-label-read {
  position: relative;
}

.form-label:hover {
  cursor: text;
}

.form-control {
  box-shadow: none;
  height: 44px;
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid var(--color-form-focus);
}

.form-control:active {
  box-shadow: none;
}

.ng-invalid {
  border-color: red;
}

.ng-untouched {
  border: var(--color-form-start-border);
}

#form-register {
  border: none;
}

#form-login {
  border: none;
}

#form-reset-password{
  border: none;
}

#form-reset-password-name{
  border: none;
}

#btn-next{
  cursor: pointer;
}

#btn-cancel {
  margin-left: 1em;
}

.form-login-options {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#form-register .form-check {
  align-items: center;
  justify-content: center;
}

#form-register .form-check-input {
  margin: 0;
}

.form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.form-check-input {
  margin: 0;
  aspect-ratio: 1/1;
  height: 40px;
  width: 40px;
  transform: scale(0.5);
}

.form-check-label {
  position: relative;
}

.form-login-options__cell {
  justify-self: center;
  align-self: center;
  position: relative;
}

.sign-in {
  margin-top: 24px;
  width: 100%;
}

.hidden {
  display: none;
}

h1 span {
  display: block;
  font-weight: 400;
  font-size: 1em;
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.login span {
  font-size: 28px;
  font-weight: 100;
}

.nav-item:hover{
  cursor: pointer;
}

.login-button {
  font-size: 1em;
  color: var(--color-text-white);
  font-weight: 100;
  padding: 10px;
  background: none;
  border-radius: 24px;
  border-color: var(--color-text-white);
  border-style: solid;
  border-width: 0;
}

.login-details span {
  font-size: 1em;
  color: var(--color-text-white);
  font-weight: 400;
  padding: 10px;
  background: none;
  border-radius: 24px;
  border-color: var(--color-text-white);
  border-style: solid;
  border-width: 0;
}

.login-button:hover {
  cursor: pointer;
  border: none;
}


.search-engine {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;
  align-items: center;
  min-width: 70%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: calc(6vw + 1em);

}

.search-engine span {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
}

.search__input-container {
  font-weight: 300;
  display: block;
  position: relative;
  margin: 0;
  margin-top: 24px;
  width: 50vw;
  max-width: 600px;
  max-height: 70px;
}

input {
  width: 100%;
  height: 44px;
  color: var(--color-text-white);
  background: var(--color-search-engine);
  border: none;
  border-radius: 44px;
  margin: 0 auto;
  padding-left: 40px;
  box-shadow: var(--element-shadow-dark);
}

.search-icon {
  position: absolute;
  color: var(--color-text-white);
  top: 50%;
  transform: translateY(-50%) translateX(+50%) scale(0.9);
}

.search-word {
  position: absolute;
  transform: translateY(-50%) translateX(-132%);
  top: 50%;
}

.recommend {
  display: flex;
  margin-top: 100px;
  max-width: 80vw;
  flex-direction: column;
}

.business-list {
  margin-top: 40px;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: hidden;
}

.popular-business-container {
  aspect-ratio: 1.28/1;
  border: white solid 1px;
  display: grid;
  margin-right: 10px;
  grid-template-rows: 80% 20%;
  position: relative;
  max-width: 320px;
  min-width: 160px;
  min-height: 250px;
  border-radius: 22px;
  overflow: hidden;
  top: 0;
  box-shadow: var(--element-shadow-dark);
}

.popular-business-container:hover {
  cursor: pointer;
}

.business-head {
  min-height: 80%;
  background-image: url(assets/images/basic-image.png);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.business-name {
  padding: 1em 1em 0 1em;
  text-shadow: var(--text-white-shadow);
  font-size: 100%;
}

.business-name span {
  font-size: 20px;
}

.business-rating {
  position: absolute;
  background: RGBA(255, 255, 255, 0.5);
  padding: 2% 4% 4% 8%;
  right: 0%;
  text-shadow: var(--text-white-shadow);
}

.business-rating span {
  font-size: 36px;
}

.business-address {
  display: flex;
  align-self: center;
  padding-left: 1em;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
