<button
  *ngIf="!isUserLogin"
  id="login-button"
  class="login-button"
  (click)="open(content)"
>
  Login / Register
</button>

<div *ngIf="isUserLogin" id="login-details" class="login-details">
  <button class="login-button">Username</button>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-popup">
    <div class="modal-header">
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="c()"
      ></button>
    </div>
    <div class="modal-body">
      <!-- Pills navs -->
      <ul
        *ngIf="loginHeaderVisable"
        class="nav nav-pills nav-justified mb-3"
        id="ex1"
        role="tablist"
      >
        <li class="nav-item" role="presentation" (click)="loginTab()">
          <a
            class="nav-link active"
            id="tab-login"
            data-mdb-toggle="pill"
            role="tab"
            aria-controls="pills-login"
            aria-selected="true"
            >Login</a
          >
        </li>
        <li class="nav-item" role="presentation" (click)="registerTab()">
          <a
            class="nav-link"
            id="tab-register"
            data-mdb-toggle="pill"
            role="tab"
            aria-controls="pills-register"
            aria-selected="false"
            >Register</a
          >
        </li>
      </ul>

      <!-- Rest tab -->

      <div *ngIf="isResetPassTab" id="form-reset-password">
        <!-- Email input -->
        <div class="form-outline">
          <input
            type="email, text"
            id="loginName"
            required="required"
            class="form-control"
            [formControl]="userResetPasswordEmail"
          />
          <label class="form-label" for="loginName">Email</label>
        </div>
        <button
          type="submit"
          id="btn-next"
          class="btn btn-primary"
          [disabled]="!isPassValid()"
          (click)="resetPassFormStepTwo()"
        >
          Next
        </button>
        <button
          type="submit"
          id="btn-cancel"
          class="btn btn-primary"
          (click)="closeResetPassTab(c)"
        >
          Cancel
        </button>
      </div>
      <div
        *ngIf="isResetPassTabPart2"
        id="form-reset-password-name"
        [formGroup]="userResetPassForm"
      >
        <!-- Name input -->
        <div class="form-outline">
          <input
            type="text"
            id="resetName"
            required="required"
            class="form-control"
            formControlName="firstName"
          />
          <label class="form-label" for="resetName">Name</label>
        </div>
        <!-- last Name input -->
        <div class="form-outline">
          <input
            type="text"
            id="resetLastName"
            required="required"
            class="form-control"
            formControlName="lastName"
          />
          <label class="form-label" for="resetLastName">Last Name</label>
        </div>

        <button
          type="submit"
          id="btn-reset"
          class="btn btn-primary"
          [disabled]="!isResetFieldsValid()"
          (click)="resetPassword(c)"
        >
          Reset password
        </button>
        <button
          type="submit"
          id="btn-cancel"
          class="btn btn-primary"
          (click)="closeResetPassTab(c)"
        >
          Cancel
        </button>
      </div>

      <!-- Login Tab -->

      <div *ngIf="isLoginTab" id="form-login" [formGroup]="userLoginForm">
        <!-- Email input -->
        <div class="form-outline">
          <input
            type="email, text"
            id="loginName"
            required="required"
            class="form-control"
            formControlName="email"
          />
          <label class="form-label" for="loginName">Email</label>
        </div>

        <!-- Password input -->
        <div class="form-outline">
          <input
            type="password"
            id="loginPassword"
            class="form-control"
            required="required"
            formControlName="password"
          />
          <label class="form-label" for="loginPassword">Password</label>
        </div>

        <div class="form-login-options">
          <div class="form-login-options__cell">
            <!-- Checkbox -->
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="loginCheck"
                checked
              />
              <label class="form-check-label" for="loginCheck">
                Remember me
              </label>
            </div>
          </div>

          <div class="form-login-options__cell">
            <!-- Simple link -->
            <button class="btn hypertext" (click)="resetPassForm()">
              Forgot password?
            </button>
          </div>
        </div>

        <!-- Submit button -->

        <button
          type="submit"
          id="login-sign-in"
          class="btn btn-primary sign-in"
          (click)="login(c)"
          [disabled]="!isLoginFieldValid()"
        >
          Sign in
        </button>

        <!-- Register buttons -->
        <div class="text-center">
          <span>Not a member?</span>
          <button class="btn hypertext" (click)="registerTab()">
            Register
          </button>
        </div>
      </div>

      <div
        *ngIf="isRegisterTab"
        id="form-register"
        [formGroup]="userRegisterForm"
      >
        <!-- Name input -->
        <div class="form-outline">
          <input
            type="text"
            id="registerName"
            required="required"
            class="form-control"
            formControlName="firstName"
          />
          <label class="form-label" for="registerName">Name</label>
        </div>

        <!-- last Name input -->
        <div class="form-outline">
          <input
            type="text"
            id="registerLastName"
            required="required"
            class="form-control"
            formControlName="lastName"
          />
          <label class="form-label" for="registerLastName">Last Name</label>
        </div>

        <!-- Email input -->
        <div class="form-outline">
          <input
            type="email, text"
            id="registerEmail"
            required="required"
            class="form-control"
            formControlName="email"
          />
          <label class="form-label" for="registerEmail">Email</label>
        </div>

        <!-- Password input -->
        <div class="form-outline">
          <input
            type="password"
            id="registerPassword"
            class="form-control"
            required="required"
            formControlName="password"
          />
          <label class="form-label" for="registerPassword">Password</label>
        </div>

        <!-- Repeat Password input -->
        <div class="form-outline">
          <input
            type="password"
            id="registerRepeatPassword"
            class="form-control"
            required="required"
            formControlName="passwordRepeat"
          />
          <label class="form-label" for="registerRepeatPassword"
            >Repeat password</label
          >
        </div>

        <!-- Checkbox -->
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="registerCheck"
            aria-describedby="registerCheckHelpText"
            formControlName="terms"
          />
          <label class="form-check-label-read" for="registerCheck">
            I have read and agree to the terms
          </label>
        </div>

        <!-- Submit button -->

        <button
          type="submit"
          id="register-sign-in"
          class="btn btn-primary sign-in"
          [disabled]="!isAllRegisterFielsValid()"
          (click)="register(c)"
        >
          Sign in
        </button>
      </div>
    </div>
    <div class="modal-footer">
      <!-- <button
          type="button"
          class="btn btn-outline-dark"
          (click)="c('Save click')"
        >
          Save
        </button> -->
    </div>
  </div>
</ng-template>
