
tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-form-field-appearance-standard .mat-form-field-underline{
  background-color: rgba(0,0,0,.0);
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.detail-data {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.detail-action {
  margin: 8px;
  padding: 8px;
}

.detail-action button {
  line-height: 1;
  font-size: 1em;
  margin-right: 1em;
}

.details-block {
  margin: 8px;
  padding: 8px;
  border-right: 1px solid gray;
  max-width: 33%;
}

.details-block span {
  color: gray;
}

