<!-- *ngIf="isLoginTab" -->
<div class="main">
  <div class="box-center">
    <div id="form-reset-password-component" [formGroup]="userResetPasswrod">
      <div class="modal-body">
        <!-- Password Input -->
        <div class="form-outline">
          <input
            type="password"
            id="loginPassword"
            class="form-control"
            required="required"
            formControlName="password"
          />
          <label class="form-label" for="loginPassword">Nowe hasło</label>
        </div>

        <!-- Password Input -->
        <div class="form-outline">
          <input
            type="password"
            id="loginPasswordRepeat"
            class="form-control"
            required="required"
            formControlName="passwordRepeat"
          />
          <label class="form-label" for="loginPasswordRepeat"
            >Powtórz hasło</label
          >
        </div>

        <div class="message-form">
          <span *ngIf="passNotSame">Hasła nie są takie same!</span>
        </div>

        <button
          type="submit"
          id="login-sign-in"
          class="btn btn-primary sign-in"
          (click)="reset()"
          [disabled]="!isPassValid()"
        >
          Resetuj
        </button>
      </div>
    </div>
  </div>
</div>
