<div id="services" class="managment-body-one">
  <h4>Usługi</h4>
  <div class="save-icon">
    <span class="material-symbols-outlined"> save </span>
  </div>
  <div class="one-column">
    <mat-tab-group>
      <mat-tab label="Wymiana opon">
        <mat-checkbox
          class="margin-top font-larger margin-bootom-8px"
          [(ngModel)]="tiresSwapChecked"
          color="primary"
          >Wymiana opon</mat-checkbox
        >
        <div class="one-column" [hidden]="!tiresSwapChecked">
          <form>
            <div class="width-100 form-row">
              <mat-form-field
                class="width-50-rim padding-right-1em"
                appearance="fill"
              >
                <mat-label>Cena</mat-label>
                <input
                  #inputSwapPrice
                  matInput
                  maxlength="6"
                  placeholder="Cena w PLN"
                  value=""
                  (keyup)="setPriceTiresSwap(inputSwapPrice)"
                />
              </mat-form-field>
              <mat-form-field
                class="width-50-rim padding-right-1em"
                appearance="fill"
              >
                <mat-label>Czas wykonania usługi</mat-label>
                <input
                  #inputSwapTime
                  matInput
                  type="time"
                  maxlength="5"
                  placeholder="Czas HH:MM"
                  value=""
                  (keyup)="setTimeTiresSwap(inputSwapTime)"
                  (change)="setTimeTiresSwap(inputSwapTime)"
                />
              </mat-form-field>
            </div>
          </form>
          <small *ngIf="messageTiresSwapPriceNotValid"
            >Nieprawidłowy format ceny</small
          >
          <small *ngIf="messageTiresSwapPriceIsReq">Wymagana cena!</small>
          <small *ngIf="messageTiresSwapTimeReq"
            >Wymagany czas wykonania usługi</small
          >
          <small class="text-gray margin-bootom"
            >Jeżeli cena lub czas jest zależny od rodzaju lub wielkości felgi
            dodaj poniższe warianty.</small
          >
          <div class="one-column margin-left-16px">
            <mat-divider></mat-divider>
            <mat-checkbox
              class="margin-bootom-8px"
              [(ngModel)]="tiresSwapAluChecked"
              color="primary"
              >Felgi aluminiowe</mat-checkbox
            >
            <div class="one-column" [hidden]="!tiresSwapAluChecked">
              <form>
                <div class="width-100 form-row">
                  <mat-form-field
                    class="width-50-rim padding-right-1em"
                    appearance="fill"
                  >
                    <mat-label>Cena</mat-label>
                    <input
                      #inputTiresSwapAluPrice
                      matInput
                      maxlength="6"
                      placeholder="Cena w PLN"
                      value=""
                      (keyup)="setPriceTiresSwapAlu(inputTiresSwapAluPrice)"
                    />
                  </mat-form-field>
                  <mat-form-field
                    class="width-50-rim padding-right-1em"
                    appearance="fill"
                  >
                    <mat-label>Czas wykonania usługi</mat-label>
                    <input
                      #inputTiresSwapAluTime
                      matInput
                      type="time"
                      maxlength="5"
                      placeholder="Czas HH:MM"
                      value=""
                      (keyup)="setTimeTiresSwapAlu(inputTiresSwapAluTime)"
                    />
                  </mat-form-field>
                </div>
              </form>
              <small *ngIf="messageTiresSwapAluPriceNotValid"
                >Nieprawidłowy format ceny</small
              >
              <small *ngIf="messageTiresSwapAluPriceIsReq"
                >Wymagana cena!</small
              >
              <small *ngIf="messageTiresSwapAluTimeReq"
                >Wymagany czas wykonania usługi</small
              >
              <div class="one-column margin-bootom">
                <mat-checkbox
                  class="font-smaller"
                  [(ngModel)]="tiresSwapAluSizeChecked"
                  color="primary"
                  >Zależne od rozmiaru</mat-checkbox
                >
                <div
                  class="one-column margin-top margin-left-16px"
                  [hidden]="!tiresSwapAluSizeChecked"
                >
                  <div>
                    <button
                      class="btn btn-primary btn-business-managment"
                      (click)="addTiresSwapAluSize()"
                    >
                      Dodaj
                    </button>
                  </div>

                  <div
                    *ngFor="let element of tiresSwapAluSizeList"
                    class="one-column"
                  >
                    <form class="margin-top">
                      <h6>Rozmiar (″)</h6>
                      <div class="width-100 form-row">
                        <mat-form-field
                          class="width-15-rim two-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Od</mat-label>
                          <input
                            #inputAluFrom
                            matInput
                            type="text"
                            maxlength="2"
                            placeholder="″"
                            value=""
                            (keyup)="
                              setAluSize(element._id!, inputAluTo, inputAluFrom)
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-15-rim two-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Do</mat-label>
                          <input
                            #inputAluTo
                            matInput
                            type="text"
                            maxlength="2"
                            placeholder="″"
                            value=""
                            (keyup)="
                              setAluSize(element._id!, inputAluTo, inputAluFrom)
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-30-rim four-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Cena</mat-label>
                          <input
                            #priceInput
                            matInput
                            maxlength="6"
                            placeholder="Cena w PLN"
                            value="{{ element.price }}"
                            (keyup)="setPriceAluSize(element._id!, priceInput)"
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-30-rim four-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Czas wykonania usługi</mat-label>
                          <input
                            #inputALuTime
                            matInput
                            type="time"
                            maxlength="5"
                            placeholder="Czas HH:MM"
                            value="{{ element.time }}"
                            (keyup)="setAluSizeTime(element._id!, inputALuTime)"
                            (change)="
                              setAluSizeTime(element._id!, inputALuTime)
                            "
                          />
                        </mat-form-field>
                        <div class="width-10-rim">
                          <button
                            type="button"
                            class="btn btn-danger btn-business-managment"
                            (click)="removeTiresSwapAluSize(element)"
                          >
                            X
                          </button>
                        </div>
                      </div>
                      <div class="one-column">
                        <small *ngIf="element.messageSizeNotValid"
                          >Nieprawidłowy format lub pusty rozmiar felgi</small
                        >
                        <small *ngIf="element.messageSizeIsExist"
                          >Taki rozmiar już istnieje</small
                        >
                        <small *ngIf="element.messagePriceNotValid"
                          >Nieprawidłowy format ceny (XX.XX)</small
                        >
                        <small *ngIf="element.messagePriceIsReq"
                          >Wymagana cena!</small
                        >
                        <small *ngIf="element.messageSizeTimeReq"
                          >Wymagany czas wykonania usługi</small
                        >
                      </div>
                    </form>
                    <mat-divider></mat-divider>
                  </div>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <mat-checkbox
              class="margin-bootom-8px"
              [(ngModel)]="tiresSwapSteelChecked"
              color="primary"
              >Felgi stalowe</mat-checkbox
            >
            <div class="one-column" [hidden]="!tiresSwapSteelChecked">
              <form>
                <div class="width-100 form-row">
                  <mat-form-field
                    class="width-50-rim padding-right-1em"
                    appearance="fill"
                  >
                    <mat-label>Cena</mat-label>
                    <input
                      #inputTiresSwapSteelPrice
                      matInput
                      maxlength="6"
                      placeholder="Cena w PLN"
                      value=""
                      (keyup)="setPriceTiresSwapSteel(inputTiresSwapSteelPrice)"
                    />
                  </mat-form-field>
                  <mat-form-field
                    class="width-50-rim padding-right-1em"
                    appearance="fill"
                  >
                    <mat-label>Czas wykonania usługi</mat-label>
                    <input
                      #inputTiresSwapSteelTime
                      matInput
                      type="time"
                      maxlength="5"
                      placeholder="Czas HH:MM"
                      value=""
                      (keyup)="setTimeTiresSwapSteel(inputTiresSwapSteelTime)"
                      (change)="setTimeTiresSwapSteel(inputTiresSwapSteelTime)"
                    />
                  </mat-form-field>
                </div>
              </form>
              <small *ngIf="messageTiresSwapSteelPriceNotValid"
                >Nieprawidłowy format ceny</small
              >
              <small *ngIf="messageTiresSwapSteelPriceIsReq"
                >Wymagana cena!</small
              >
              <small *ngIf="messageTiresSwapSteelTimeReq"
                >Wymagany czas wykonania usługi</small
              >
              <div class="one-column margin-bootom">
                <mat-checkbox
                  class="font-smaller"
                  [(ngModel)]="tiresSwapSteelSizeChecked"
                  color="primary"
                  >Zależne od rozmiaru</mat-checkbox
                >
                <div
                  class="one-column margin-top margin-left-16px"
                  [hidden]="!tiresSwapSteelSizeChecked"
                >
                  <div>
                    <button
                      class="btn btn-primary btn-business-managment"
                      (click)="addTiresSwapSteelSize()"
                    >
                      Dodaj
                    </button>
                  </div>

                  
                  <div
                    *ngFor="let element of tiresSwapSteelSizeList"
                    class="one-column"
                  >
                    <form class="margin-top">
                      <h6>Rozmiar (″)</h6>
                      <div class="width-100 form-row">
                        <mat-form-field
                          class="width-15-rim two-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Od</mat-label>
                          <input
                            #inputSteelFrom
                            matInput
                            type="text"
                            maxlength="2"
                            placeholder="″"
                            value=""
                            (keyup)="
                              setSteelSize(element._id!, inputSteelTo, inputSteelFrom)
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-15-rim two-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Do</mat-label>
                          <input
                            #inputSteelTo
                            matInput
                            type="text"
                            maxlength="2"
                            placeholder="″"
                            value=""
                            (keyup)="
                              setSteelSize(element._id!, inputSteelTo, inputSteelFrom)
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-30-rim four-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Cena</mat-label>
                          <input
                            #priceInput
                            matInput
                            maxlength="6"
                            placeholder="Cena w PLN"
                            value="{{ element.price }}"
                            (keyup)="setPriceSteelSize(element._id!, priceInput)"
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-30-rim four-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Czas wykonania usługi</mat-label>
                          <input
                            #inputALuTime
                            matInput
                            type="time"
                            maxlength="5"
                            placeholder="Czas HH:MM"
                            value="{{ element.time }}"
                            (keyup)="setSteelSizeTime(element._id!, inputALuTime)"
                            (change)="
                              setSteelSizeTime(element._id!, inputALuTime)
                            "
                          />
                        </mat-form-field>
                        <div class="width-10-rim">
                          <button
                            type="button"
                            class="btn btn-danger btn-business-managment"
                            (click)="removeTiresSwapSteelSize(element)"
                          >
                            X
                          </button>
                        </div>
                      </div>
                      <div class="one-column">
                        <small *ngIf="element.messageSizeNotValid"
                          >Nieprawidłowy format lub pusty rozmiar felgi</small
                        >
                        <small *ngIf="element.messageSizeIsExist"
                          >Taki rozmiar już istnieje</small
                        >
                        <small *ngIf="element.messagePriceNotValid"
                          >Nieprawidłowy format ceny (XX.XX)</small
                        >
                        <small *ngIf="element.messagePriceIsReq"
                          >Wymagana cena!</small
                        >
                        <small *ngIf="element.messageSizeTimeReq"
                          >Wymagany czas wykonania usługi</small
                        >
                      </div>
                    </form>
                    <mat-divider></mat-divider>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Przełożenie kół">
        <mat-checkbox
          class="margin-top font-larger"
          [(ngModel)]="wheelSwapChecked"
          color="primary"
          >Przełożenie kół</mat-checkbox
        >
      </mat-tab>
      <mat-tab label="Wyważenie kół">
        <mat-checkbox
          class="margin-top font-larger"
          [(ngModel)]="wheelBalanceChecked"
          color="primary"
          >Wyważanie kół</mat-checkbox
        >
      </mat-tab>
      <mat-tab label="Prostowanie felg">
        <mat-checkbox
          class="margin-top font-larger"
          [(ngModel)]="straighteningRimsChecked"
          color="primary"
          >Prostowanie felg aluminiowych</mat-checkbox
        >
      </mat-tab>
      <mat-tab label="Usługi niestandardowe">
        <h5 class="margin-top font-larger">Usługi niestandardowe</h5>
        <span>Dodawanie</span>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
