<div id="services" class="managment-body-one">
  <h4>Usługi</h4>
  <div class="save-icon">
    <span class="material-symbols-outlined"> save </span>
  </div>
  <div class="one-column">
    <mat-tab-group>
      <mat-tab label="Wymiana opon">
        <mat-checkbox
          class="margin-top font-larger margin-bootom-8px"
          [(ngModel)]="tiresSwapChecked"
          color="primary"
          >Wymiana opon</mat-checkbox
        >
        <div class="one-column" [hidden]="!tiresSwapChecked">
          <form>
            <div class="width-100 form-row">
              <mat-form-field
                class="width-50-rim padding-right-1em"
                appearance="fill"
              >
                <mat-label>Cena</mat-label>
                <input
                  #inputPriceTiresSwap
                  matInput
                  maxlength="6"
                  placeholder="Cena w PLN"
                  value=""
                  (keyup)="setPriceTiresSwap(inputPriceTiresSwap)"
                />
              </mat-form-field>
              <mat-form-field
                class="width-50-rim padding-right-1em"
                appearance="fill"
              >
                <mat-label>Czas wykonania usługi</mat-label>
                <input
                  #inputTimeTiresSwap
                  matInput
                  type="time"
                  maxlength="5"
                  placeholder="Czas HH:MM"
                  value=""
                  (keyup)="setTimeTiresSwap(inputTimeTiresSwap)"
                  (change)="setTimeTiresSwap(inputTimeTiresSwap)"
                />
              </mat-form-field>
            </div>
          </form>
          <small *ngIf="messageTiresSwapPriceNotValid"
            >Nieprawidłowy format ceny</small
          >
          <small *ngIf="messageTiresSwapPriceIsReq">Wymagana cena!</small>
          <small *ngIf="messageTiresSwapTimeReq"
            >Wymagany czas wykonania usługi</small
          >
          <small class="text-gray margin-bootom"
            >Jeżeli cena lub czas jest zależny od rodzaju lub wielkości felgi
            dodaj poniższe warianty.</small
          >
          <div class="one-column margin-left-16px">
            <mat-divider></mat-divider>
            <mat-checkbox
              class="margin-bootom-8px"
              [(ngModel)]="tiresSwapAluChecked"
              color="primary"
              >Felgi aluminiowe</mat-checkbox
            >
            <div class="one-column" [hidden]="!tiresSwapAluChecked">
              <form>
                <div class="width-100 form-row">
                  <mat-form-field
                    class="width-50-rim padding-right-1em"
                    appearance="fill"
                  >
                    <mat-label>Cena</mat-label>
                    <input
                      #inputPriceTiresSwapAlu
                      matInput
                      maxlength="6"
                      placeholder="Cena w PLN"
                      value=""
                      (keyup)="setPriceTiresSwapAlu(inputPriceTiresSwapAlu)"
                    />
                  </mat-form-field>
                  <mat-form-field
                    class="width-50-rim padding-right-1em"
                    appearance="fill"
                  >
                    <mat-label>Czas wykonania usługi</mat-label>
                    <input
                      #inputTimeTiresSwapAlu
                      matInput
                      type="time"
                      maxlength="5"
                      placeholder="Czas HH:MM"
                      value=""
                      (keyup)="setTimeTiresSwapAlu(inputTimeTiresSwapAlu)"
                      (change)="setTimeTiresSwapAlu(inputTimeTiresSwapAlu)"
                    />
                  </mat-form-field>
                </div>
              </form>
              <small *ngIf="messageTiresSwapAluPriceNotValid"
                >Nieprawidłowy format ceny</small
              >
              <small *ngIf="messageTiresSwapAluPriceIsReq"
                >Wymagana cena!</small
              >
              <small *ngIf="messageTiresSwapAluTimeReq"
                >Wymagany czas wykonania usługi</small
              >
              <div class="one-column margin-bootom">
                <mat-checkbox
                  class="font-smaller"
                  [(ngModel)]="tiresSwapAluSizeChecked"
                  color="primary"
                  >Zależne od rozmiaru</mat-checkbox
                >
                <div
                  class="one-column margin-top margin-left-16px"
                  [hidden]="!tiresSwapAluSizeChecked"
                >
                  <div>
                    <button
                      class="btn btn-primary btn-business-managment"
                      (click)="addTiresSwapAluSize()"
                    >
                      Dodaj
                    </button>
                  </div>

                  <div
                    *ngFor="let element of tiresSwapAluSizeList"
                    class="one-column"
                  >
                    <form class="margin-top">
                      <h6>Rozmiar (″)</h6>
                      <div class="width-100 form-row">
                        <mat-form-field
                          class="width-15-rim two-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Od</mat-label>
                          <input
                            #inputTiresSwapAluSizeFrom
                            matInput
                            type="text"
                            maxlength="2"
                            placeholder="″"
                            value=""
                            (keyup)="
                              setAluSize(
                                element._id!,
                                inputTiresSwapAluSizeTo,
                                inputTiresSwapAluSizeFrom
                              )
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-15-rim two-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Do</mat-label>
                          <input
                            #inputTiresSwapAluSizeTo
                            matInput
                            type="text"
                            maxlength="2"
                            placeholder="″"
                            value=""
                            (keyup)="
                              setAluSize(
                                element._id!,
                                inputTiresSwapAluSizeTo,
                                inputTiresSwapAluSizeFrom
                              )
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-30-rim four-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Cena</mat-label>
                          <input
                            #inputPriceTiresSwapAluSize
                            matInput
                            maxlength="6"
                            placeholder="Cena w PLN"
                            value="{{ element.price }}"
                            (keyup)="
                              setPriceAluSize(
                                element._id!,
                                inputPriceTiresSwapAluSize
                              )
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-30-rim four-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Czas wykonania usługi</mat-label>
                          <input
                            #inputTimeTiresSwapAluSize
                            matInput
                            type="time"
                            maxlength="5"
                            placeholder="Czas HH:MM"
                            value="{{ element.time }}"
                            (keyup)="
                              setAluSizeTime(
                                element._id!,
                                inputTimeTiresSwapAluSize
                              )
                            "
                            (change)="
                              setAluSizeTime(
                                element._id!,
                                inputTimeTiresSwapAluSize
                              )
                            "
                          />
                        </mat-form-field>
                        <div class="width-10-rim">
                          <button
                            type="button"
                            class="btn btn-danger btn-business-managment"
                            (click)="removeTiresSwapAluSize(element)"
                          >
                            X
                          </button>
                        </div>
                      </div>
                      <div class="one-column">
                        <small *ngIf="element.messageSizeNotValid"
                          >Nieprawidłowy format lub pusty rozmiar felgi</small
                        >
                        <small *ngIf="element.messageSizeIsExist"
                          >Taki rozmiar już istnieje</small
                        >
                        <small *ngIf="element.messagePriceNotValid"
                          >Nieprawidłowy format ceny (XX.XX)</small
                        >
                        <small *ngIf="element.messagePriceIsReq"
                          >Wymagana cena!</small
                        >
                        <small *ngIf="element.messageSizeTimeReq"
                          >Wymagany czas wykonania usługi</small
                        >
                      </div>
                    </form>
                    <mat-divider></mat-divider>
                  </div>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <mat-checkbox
              class="margin-bootom-8px"
              [(ngModel)]="tiresSwapSteelChecked"
              color="primary"
              >Felgi stalowe</mat-checkbox
            >
            <div class="one-column" [hidden]="!tiresSwapSteelChecked">
              <form>
                <div class="width-100 form-row">
                  <mat-form-field
                    class="width-50-rim padding-right-1em"
                    appearance="fill"
                  >
                    <mat-label>Cena</mat-label>
                    <input
                      #inputPriceTiresSwapSteel
                      matInput
                      maxlength="6"
                      placeholder="Cena w PLN"
                      value=""
                      (keyup)="setPriceTiresSwapSteel(inputPriceTiresSwapSteel)"
                    />
                  </mat-form-field>
                  <mat-form-field
                    class="width-50-rim padding-right-1em"
                    appearance="fill"
                  >
                    <mat-label>Czas wykonania usługi</mat-label>
                    <input
                      #inputTimeTiresSwapSteel
                      matInput
                      type="time"
                      maxlength="5"
                      placeholder="Czas HH:MM"
                      value=""
                      (keyup)="setTimeTiresSwapSteel(inputTimeTiresSwapSteel)"
                      (change)="setTimeTiresSwapSteel(inputTimeTiresSwapSteel)"
                    />
                  </mat-form-field>
                </div>
              </form>
              <small *ngIf="messageTiresSwapSteelPriceNotValid"
                >Nieprawidłowy format ceny</small
              >
              <small *ngIf="messageTiresSwapSteelPriceIsReq"
                >Wymagana cena!</small
              >
              <small *ngIf="messageTiresSwapSteelTimeReq"
                >Wymagany czas wykonania usługi</small
              >
              <div class="one-column margin-bootom">
                <mat-checkbox
                  class="font-smaller"
                  [(ngModel)]="tiresSwapSteelSizeChecked"
                  color="primary"
                  >Zależne od rozmiaru</mat-checkbox
                >
                <div
                  class="one-column margin-top margin-left-16px"
                  [hidden]="!tiresSwapSteelSizeChecked"
                >
                  <div>
                    <button
                      class="btn btn-primary btn-business-managment"
                      (click)="addTiresSwapSteelSize()"
                    >
                      Dodaj
                    </button>
                  </div>

                  <div
                    *ngFor="let element of tiresSwapSteelSizeList"
                    class="one-column"
                  >
                    <form class="margin-top">
                      <h6>Rozmiar (″)</h6>
                      <div class="width-100 form-row">
                        <mat-form-field
                          class="width-15-rim two-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Od</mat-label>
                          <input
                            #inputTiresSwapSteelFrom
                            matInput
                            type="text"
                            maxlength="2"
                            placeholder="″"
                            value=""
                            (keyup)="
                              setSteelSize(
                                element._id!,
                                inputTiresSwapSteelTo,
                                inputTiresSwapSteelFrom
                              )
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-15-rim two-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Do</mat-label>
                          <input
                            #inputTiresSwapSteelTo
                            matInput
                            type="text"
                            maxlength="2"
                            placeholder="″"
                            value=""
                            (keyup)="
                              setSteelSize(
                                element._id!,
                                inputTiresSwapSteelTo,
                                inputTiresSwapSteelFrom
                              )
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-30-rim four-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Cena</mat-label>
                          <input
                            #inputPriceTiresSwapSteelSize
                            matInput
                            maxlength="6"
                            placeholder="Cena w PLN"
                            value="{{ element.price }}"
                            (keyup)="
                              setPriceSteelSize(element._id!, inputPriceTiresSwapSteelSize)
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-30-rim four-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Czas wykonania usługi</mat-label>
                          <input
                            #inputTimeTiresSwapSteelSize
                            matInput
                            type="time"
                            maxlength="5"
                            placeholder="Czas HH:MM"
                            value="{{ element.time }}"
                            (keyup)="
                              setSteelSizeTime(element._id!, inputTimeTiresSwapSteelSize)
                            "
                            (change)="
                              setSteelSizeTime(element._id!, inputTimeTiresSwapSteelSize)
                            "
                          />
                        </mat-form-field>
                        <div class="width-10-rim">
                          <button
                            type="button"
                            class="btn btn-danger btn-business-managment"
                            (click)="removeTiresSwapSteelSize(element)"
                          >
                            X
                          </button>
                        </div>
                      </div>
                      <div class="one-column">
                        <small *ngIf="element.messageSizeNotValid"
                          >Nieprawidłowy format lub pusty rozmiar felgi</small
                        >
                        <small *ngIf="element.messageSizeIsExist"
                          >Taki rozmiar już istnieje</small
                        >
                        <small *ngIf="element.messagePriceNotValid"
                          >Nieprawidłowy format ceny (XX.XX)</small
                        >
                        <small *ngIf="element.messagePriceIsReq"
                          >Wymagana cena!</small
                        >
                        <small *ngIf="element.messageSizeTimeReq"
                          >Wymagany czas wykonania usługi</small
                        >
                      </div>
                    </form>
                    <mat-divider></mat-divider>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Przełożenie kół">
        <mat-checkbox
          class="margin-top font-larger"
          [(ngModel)]="wheelSwapChecked"
          color="primary"
          >Przełożenie kół</mat-checkbox
        >
        <div class="one-column" [hidden]="!wheelSwapChecked">
          <form>
            <div class="width-100 form-row">
              <mat-form-field
                class="width-50-rim padding-right-1em"
                appearance="fill"
              >
                <mat-label>Cena</mat-label>
                <input
                  #inputWheelSwapPrice
                  matInput
                  maxlength="6"
                  placeholder="Cena w PLN"
                  value=""
                  (keyup)="setPriceWheelSwap(inputWheelSwapPrice)"
                />
              </mat-form-field>
              <mat-form-field
                class="width-50-rim padding-right-1em"
                appearance="fill"
              >
                <mat-label>Czas wykonania usługi</mat-label>
                <input
                  #inputWheelSwapTime
                  matInput
                  type="time"
                  maxlength="5"
                  placeholder="Czas HH:MM"
                  value=""
                  (keyup)="setTimeWheelSwap(inputWheelSwapTime)"
                  (change)="setTimeWheelSwap(inputWheelSwapTime)"
                />
              </mat-form-field>
            </div>
          </form>
          <small *ngIf="messageWheelSwapPriceNotValid"
            >Nieprawidłowy format ceny</small
          >
          <small *ngIf="messageWheelSwapPriceIsReq">Wymagana cena!</small>
          <small *ngIf="messageWheelSwapTimeReq"
            >Wymagany czas wykonania usługi</small
          >
          <small class="text-gray margin-bootom"
            >Jeżeli cena lub czas jest zależny od rodzaju lub wielkości felgi
            dodaj poniższe warianty.</small
          >
          <div class="one-column margin-left-16px">
            <mat-divider></mat-divider>
            <mat-checkbox
              class="margin-bootom-8px"
              [(ngModel)]="wheelSwapAluChecked"
              color="primary"
              >Felgi aluminiowe</mat-checkbox
            >
            <div class="one-column" [hidden]="!wheelSwapAluChecked">
              <form>
                <div class="width-100 form-row">
                  <mat-form-field
                    class="width-50-rim padding-right-1em"
                    appearance="fill"
                  >
                    <mat-label>Cena</mat-label>
                    <input
                      #inputWheelSwapAluPrice
                      matInput
                      maxlength="6"
                      placeholder="Cena w PLN"
                      value=""
                      (keyup)="setPriceWheelSwapAlu(inputWheelSwapAluPrice)"
                    />
                  </mat-form-field>
                  <mat-form-field
                    class="width-50-rim padding-right-1em"
                    appearance="fill"
                  >
                    <mat-label>Czas wykonania usługi</mat-label>
                    <input
                      #inputWheelSwapAluTime
                      matInput
                      type="time"
                      maxlength="5"
                      placeholder="Czas HH:MM"
                      value=""
                      (keyup)="setTimeWheelSwapAlu(inputWheelSwapAluTime)"
                      (change)="setTimeWheelSwapAlu(inputWheelSwapAluTime)"
                    />
                  </mat-form-field>
                </div>
              </form>
              <small *ngIf="messageWheelSwapAluPriceNotValid"
                >Nieprawidłowy format ceny</small
              >
              <small *ngIf="messageWheelSwapAluPriceIsReq"
                >Wymagana cena!</small
              >
              <small *ngIf="messageWheelSwapAluTimeReq"
                >Wymagany czas wykonania usługi</small
              >
              <div class="one-column margin-bootom">
                <mat-checkbox
                  class="font-smaller"
                  [(ngModel)]="wheelSwapAluSizeChecked"
                  color="primary"
                  >Zależne od rozmiaru</mat-checkbox
                >
                <div
                  class="one-column margin-top margin-left-16px"
                  [hidden]="!wheelSwapAluSizeChecked"
                >
                  <div>
                    <button
                      class="btn btn-primary btn-business-managment"
                      (click)="addWheelSwapAluSize()"
                    >
                      Dodaj
                    </button>
                  </div>

                  <div
                    *ngFor="let element of wheelSwapAluSizeList"
                    class="one-column"
                  >
                    <form class="margin-top">
                      <h6>Rozmiar (″)</h6>
                      <div class="width-100 form-row">
                        <mat-form-field
                          class="width-15-rim two-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Od</mat-label>
                          <input
                            #inputWheelSwapAluFrom
                            matInput
                            type="text"
                            maxlength="2"
                            placeholder="″"
                            value=""
                            (keyup)="
                              setAluSizeWheelSwap(
                                element._id!,
                                inputWheelSwapAluTo,
                                inputWheelSwapAluFrom
                              )
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-15-rim two-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Do</mat-label>
                          <input
                            #inputWheelSwapAluTo
                            matInput
                            type="text"
                            maxlength="2"
                            placeholder="″"
                            value=""
                            (keyup)="
                              setAluSizeWheelSwap(
                                element._id!,
                                inputWheelSwapAluTo,
                                inputWheelSwapAluFrom
                              )
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-30-rim four-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Cena</mat-label>
                          <input
                            #inputPriceWheelSwap
                            matInput
                            maxlength="6"
                            placeholder="Cena w PLN"
                            value="{{ element.price }}"
                            (keyup)="
                              setPriceAluSizeWheelSwap(
                                element._id!,
                                inputPriceWheelSwap
                              )
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-30-rim four-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Czas wykonania usługi</mat-label>
                          <input
                            #inputTimeAluWheelSwap
                            matInput
                            type="time"
                            maxlength="5"
                            placeholder="Czas HH:MM"
                            value="{{ element.time }}"
                            (keyup)="
                              setAluSizeTimeWheelSwap(
                                element._id!,
                                inputTimeAluWheelSwap
                              )
                            "
                            (change)="
                              setAluSizeTimeWheelSwap(
                                element._id!,
                                inputTimeAluWheelSwap
                              )
                            "
                          />
                        </mat-form-field>
                        <div class="width-10-rim">
                          <button
                            type="button"
                            class="btn btn-danger btn-business-managment"
                            (click)="removeWheelSwapAluSize(element)"
                          >
                            X
                          </button>
                        </div>
                      </div>
                      <div class="one-column">
                        <small *ngIf="element.messageSizeNotValid"
                          >Nieprawidłowy format lub pusty rozmiar felgi</small
                        >
                        <small *ngIf="element.messageSizeIsExist"
                          >Taki rozmiar już istnieje</small
                        >
                        <small *ngIf="element.messagePriceNotValid"
                          >Nieprawidłowy format ceny (XX.XX)</small
                        >
                        <small *ngIf="element.messagePriceIsReq"
                          >Wymagana cena!</small
                        >
                        <small *ngIf="element.messageSizeTimeReq"
                          >Wymagany czas wykonania usługi</small
                        >
                      </div>
                    </form>
                    <mat-divider></mat-divider>
                  </div>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <mat-checkbox
              class="margin-bootom-8px"
              [(ngModel)]="wheelSwapSteelChecked"
              color="primary"
              >Felgi stalowe</mat-checkbox
            >
            <div class="one-column" [hidden]="!wheelSwapSteelChecked">
              <form>
                <div class="width-100 form-row">
                  <mat-form-field
                    class="width-50-rim padding-right-1em"
                    appearance="fill"
                  >
                    <mat-label>Cena</mat-label>
                    <input
                      #inputWheelSwapSteelPrice
                      matInput
                      maxlength="6"
                      placeholder="Cena w PLN"
                      value=""
                      (keyup)="setPriceWheelSwapSteel(inputWheelSwapSteelPrice)"
                    />
                  </mat-form-field>
                  <mat-form-field
                    class="width-50-rim padding-right-1em"
                    appearance="fill"
                  >
                    <mat-label>Czas wykonania usługi</mat-label>
                    <input
                      #inputWheelSwapSteelTime
                      matInput
                      type="time"
                      maxlength="5"
                      placeholder="Czas HH:MM"
                      value=""
                      (keyup)="setTimeWheelSwapSteel(inputWheelSwapSteelTime)"
                      (change)="setTimeWheelSwapSteel(inputWheelSwapSteelTime)"
                    />
                  </mat-form-field>
                </div>
              </form>
              <small *ngIf="messageWheelSwapSteelPriceNotValid"
                >Nieprawidłowy format ceny</small
              >
              <small *ngIf="messageWheelSwapSteelPriceIsReq"
                >Wymagana cena!</small
              >
              <small *ngIf="messageWheelSwapSteelTimeReq"
                >Wymagany czas wykonania usługi</small
              >
              <div class="one-column margin-bootom">
                <mat-checkbox
                  class="font-smaller"
                  [(ngModel)]="wheelSwapSteelSizeChecked"
                  color="primary"
                  >Zależne od rozmiaru</mat-checkbox
                >
                <div
                  class="one-column margin-top margin-left-16px"
                  [hidden]="!wheelSwapSteelSizeChecked"
                >
                  <div>
                    <button
                      class="btn btn-primary btn-business-managment"
                      (click)="addWheelSwapSteelSize()"
                    >
                      Dodaj
                    </button>
                  </div>

                  <div
                    *ngFor="let element of wheelSwapSteelSizeList"
                    class="one-column"
                  >
                    <form class="margin-top">
                      <h6>Rozmiar (″)</h6>
                      <div class="width-100 form-row">
                        <mat-form-field
                          class="width-15-rim two-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Od</mat-label>
                          <input
                            #inputWheelSwapSteelFrom
                            matInput
                            type="text"
                            maxlength="2"
                            placeholder="″"
                            value=""
                            (keyup)="
                              setSteelSizeWheelSwap(
                                element._id!,
                                inputWheelSwapSteelTo,
                                inputWheelSwapSteelFrom
                              )
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-15-rim two-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Do</mat-label>
                          <input
                            #inputWheelSwapSteelTo
                            matInput
                            type="text"
                            maxlength="2"
                            placeholder="″"
                            value=""
                            (keyup)="
                              setSteelSizeWheelSwap(
                                element._id!,
                                inputWheelSwapSteelTo,
                                inputWheelSwapSteelFrom
                              )
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-30-rim four-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Cena</mat-label>
                          <input
                            #inputPriceWheelSwapSteel
                            matInput
                            maxlength="6"
                            placeholder="Cena w PLN"
                            value="{{ element.price }}"
                            (keyup)="
                              setPriceSteelSizeWheelSwap(
                                element._id!,
                                inputPriceWheelSwapSteel
                              )
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-30-rim four-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Czas wykonania usługi</mat-label>
                          <input
                            #inputWheelSwapTimeSteel
                            matInput
                            type="time"
                            maxlength="5"
                            placeholder="Czas HH:MM"
                            value="{{ element.time }}"
                            (keyup)="
                              setSteelSizeTimeWheelSwap(
                                element._id!,
                                inputWheelSwapTimeSteel
                              )
                            "
                            (change)="
                              setSteelSizeTimeWheelSwap(
                                element._id!,
                                inputWheelSwapTimeSteel
                              )
                            "
                          />
                        </mat-form-field>
                        <div class="width-10-rim">
                          <button
                            type="button"
                            class="btn btn-danger btn-business-managment"
                            (click)="removeWheelSwapSteelSize(element)"
                          >
                            X
                          </button>
                        </div>
                      </div>
                      <div class="one-column">
                        <small *ngIf="element.messageSizeNotValid"
                          >Nieprawidłowy format lub pusty rozmiar felgi</small
                        >
                        <small *ngIf="element.messageSizeIsExist"
                          >Taki rozmiar już istnieje</small
                        >
                        <small *ngIf="element.messagePriceNotValid"
                          >Nieprawidłowy format ceny (XX.XX)</small
                        >
                        <small *ngIf="element.messagePriceIsReq"
                          >Wymagana cena!</small
                        >
                        <small *ngIf="element.messageSizeTimeReq"
                          >Wymagany czas wykonania usługi</small
                        >
                      </div>
                    </form>
                    <mat-divider></mat-divider>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Wyważenie kół">
        <mat-checkbox
          class="margin-top font-larger"
          [(ngModel)]="wheelBalanceChecked"
          color="primary"
          >Wyważanie kół</mat-checkbox
        >
        <div class="one-column" [hidden]="!wheelBalanceChecked">
          <form>
            <div class="width-100 form-row">
              <mat-form-field
                class="width-50-rim padding-right-1em"
                appearance="fill"
              >
                <mat-label>Cena</mat-label>
                <input
                  #inputWheelBalancePrice
                  matInput
                  maxlength="6"
                  placeholder="Cena w PLN"
                  value=""
                  (keyup)="setPriceWheelBalance(inputWheelBalancePrice)"
                />
              </mat-form-field>
              <mat-form-field
                class="width-50-rim padding-right-1em"
                appearance="fill"
              >
                <mat-label>Czas wykonania usługi</mat-label>
                <input
                  #inputWheelBalanceTime
                  matInput
                  type="time"
                  maxlength="5"
                  placeholder="Czas HH:MM"
                  value=""
                  (keyup)="setTimeWheelBalance(inputWheelBalanceTime)"
                  (change)="setTimeWheelBalance(inputWheelBalanceTime)"
                />
              </mat-form-field>
            </div>
          </form>
          <small *ngIf="messageWheelBalancePriceNotValid"
            >Nieprawidłowy format ceny</small
          >
          <small *ngIf="messageWheelBalancePriceIsReq">Wymagana cena!</small>
          <small *ngIf="messageWheelBalanceTimeReq"
            >Wymagany czas wykonania usługi</small
          >
          <small class="text-gray margin-bootom"
            >Jeżeli cena lub czas jest zależny od rodzaju lub wielkości felgi
            dodaj poniższe warianty.</small
          >
          <div class="one-column margin-left-16px">
            <mat-divider></mat-divider>
            <mat-checkbox
              class="margin-bootom-8px"
              [(ngModel)]="wheelBalanceAluChecked"
              color="primary"
              >Felgi aluminiowe</mat-checkbox
            >
            <div class="one-column" [hidden]="!wheelBalanceAluChecked">
              <form>
                <div class="width-100 form-row">
                  <mat-form-field
                    class="width-50-rim padding-right-1em"
                    appearance="fill"
                  >
                    <mat-label>Cena</mat-label>
                    <input
                      #inputWheelBalanceAluPrice
                      matInput
                      maxlength="6"
                      placeholder="Cena w PLN"
                      value=""
                      (keyup)="setPriceWheelBalanceAlu(inputWheelBalanceAluPrice)"
                    />
                  </mat-form-field>
                  <mat-form-field
                    class="width-50-rim padding-right-1em"
                    appearance="fill"
                  >
                    <mat-label>Czas wykonania usługi</mat-label>
                    <input
                      #inputWheelBalanceAluTime
                      matInput
                      type="time"
                      maxlength="5"
                      placeholder="Czas HH:MM"
                      value=""
                      (keyup)="setTimeWheelBalanceAlu(inputWheelBalanceAluTime)"
                      (change)="setTimeWheelBalanceAlu(inputWheelBalanceAluTime)"
                    />
                  </mat-form-field>
                </div>
              </form>
              <small *ngIf="messageWheelBalanceAluPriceNotValid"
                >Nieprawidłowy format ceny</small
              >
              <small *ngIf="messageWheelBalanceAluPriceIsReq"
                >Wymagana cena!</small
              >
              <small *ngIf="messageWheelBalanceAluTimeReq"
                >Wymagany czas wykonania usługi</small
              >
              <div class="one-column margin-bootom">
                <mat-checkbox
                  class="font-smaller"
                  [(ngModel)]="wheelBalanceAluSizeChecked"
                  color="primary"
                  >Zależne od rozmiaru</mat-checkbox
                >
                <div
                  class="one-column margin-top margin-left-16px"
                  [hidden]="!wheelBalanceAluSizeChecked"
                >
                  <div>
                    <button
                      class="btn btn-primary btn-business-managment"
                      (click)="addWheelBalanceAluSize()"
                    >
                      Dodaj
                    </button>
                  </div>

                  <div
                    *ngFor="let element of wheelBalanceAluSizeList"
                    class="one-column"
                  >
                    <form class="margin-top">
                      <h6>Rozmiar (″)</h6>
                      <div class="width-100 form-row">
                        <mat-form-field
                          class="width-15-rim two-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Od</mat-label>
                          <input
                            #inputWheelBalanceAluFrom
                            matInput
                            type="text"
                            maxlength="2"
                            placeholder="″"
                            value=""
                            (keyup)="
                              setAluSizeWheelBalance(
                                element._id!,
                                inputWheelBalanceAluTo,
                                inputWheelBalanceAluFrom
                              )
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-15-rim two-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Do</mat-label>
                          <input
                            #inputWheelBalanceAluTo
                            matInput
                            type="text"
                            maxlength="2"
                            placeholder="″"
                            value=""
                            (keyup)="
                              setAluSizeWheelBalance(
                                element._id!,
                                inputWheelBalanceAluTo,
                                inputWheelBalanceAluFrom
                              )
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-30-rim four-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Cena</mat-label>
                          <input
                            #inputPriceWheelBalance
                            matInput
                            maxlength="6"
                            placeholder="Cena w PLN"
                            value="{{ element.price }}"
                            (keyup)="
                              setPriceAluSizeWheelBalance(
                                element._id!,
                                inputPriceWheelBalance
                              )
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-30-rim four-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Czas wykonania usługi</mat-label>
                          <input
                            #inputTimeAluWheelBalance
                            matInput
                            type="time"
                            maxlength="5"
                            placeholder="Czas HH:MM"
                            value="{{ element.time }}"
                            (keyup)="
                              setAluSizeTimeWheelBalance(
                                element._id!,
                                inputTimeAluWheelBalance
                              )
                            "
                            (change)="
                              setAluSizeTimeWheelBalance(
                                element._id!,
                                inputTimeAluWheelBalance
                              )
                            "
                          />
                        </mat-form-field>
                        <div class="width-10-rim">
                          <button
                            type="button"
                            class="btn btn-danger btn-business-managment"
                            (click)="removeWheelBalanceAluSize(element)"
                          >
                            X
                          </button>
                        </div>
                      </div>
                      <div class="one-column">
                        <small *ngIf="element.messageSizeNotValid"
                          >Nieprawidłowy format lub pusty rozmiar felgi</small
                        >
                        <small *ngIf="element.messageSizeIsExist"
                          >Taki rozmiar już istnieje</small
                        >
                        <small *ngIf="element.messagePriceNotValid"
                          >Nieprawidłowy format ceny (XX.XX)</small
                        >
                        <small *ngIf="element.messagePriceIsReq"
                          >Wymagana cena!</small
                        >
                        <small *ngIf="element.messageSizeTimeReq"
                          >Wymagany czas wykonania usługi</small
                        >
                      </div>
                    </form>
                    <mat-divider></mat-divider>
                  </div>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <mat-checkbox
              class="margin-bootom-8px"
              [(ngModel)]="wheelBalanceSteelChecked"
              color="primary"
              >Felgi stalowe</mat-checkbox
            >
            <div class="one-column" [hidden]="!wheelBalanceSteelChecked">
              <form>
                <div class="width-100 form-row">
                  <mat-form-field
                    class="width-50-rim padding-right-1em"
                    appearance="fill"
                  >
                    <mat-label>Cena</mat-label>
                    <input
                      #inputWheelBalanceSteelPrice
                      matInput
                      maxlength="6"
                      placeholder="Cena w PLN"
                      value=""
                      (keyup)="setPriceWheelBalanceSteel(inputWheelBalanceSteelPrice)"
                    />
                  </mat-form-field>
                  <mat-form-field
                    class="width-50-rim padding-right-1em"
                    appearance="fill"
                  >
                    <mat-label>Czas wykonania usługi</mat-label>
                    <input
                      #inputWheelBalanceSteelTime
                      matInput
                      type="time"
                      maxlength="5"
                      placeholder="Czas HH:MM"
                      value=""
                      (keyup)="setTimeWheelBalanceSteel(inputWheelBalanceSteelTime)"
                      (change)="setTimeWheelBalanceSteel(inputWheelBalanceSteelTime)"
                    />
                  </mat-form-field>
                </div>
              </form>
              <small *ngIf="messageWheelBalanceSteelPriceNotValid"
                >Nieprawidłowy format ceny</small
              >
              <small *ngIf="messageWheelBalanceSteelPriceIsReq"
                >Wymagana cena!</small
              >
              <small *ngIf="messageWheelBalanceSteelTimeReq"
                >Wymagany czas wykonania usługi</small
              >
              <div class="one-column margin-bootom">
                <mat-checkbox
                  class="font-smaller"
                  [(ngModel)]="wheelBalanceSteelSizeChecked"
                  color="primary"
                  >Zależne od rozmiaru</mat-checkbox
                >
                <div
                  class="one-column margin-top margin-left-16px"
                  [hidden]="!wheelBalanceSteelSizeChecked"
                >
                  <div>
                    <button
                      class="btn btn-primary btn-business-managment"
                      (click)="addWheelBalanceSteelSize()"
                    >
                      Dodaj
                    </button>
                  </div>

                  <div
                    *ngFor="let element of wheelBalanceSteelSizeList"
                    class="one-column"
                  >
                    <form class="margin-top">
                      <h6>Rozmiar (″)</h6>
                      <div class="width-100 form-row">
                        <mat-form-field
                          class="width-15-rim two-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Od</mat-label>
                          <input
                            #inputWheelBalanceSteelFrom
                            matInput
                            type="text"
                            maxlength="2"
                            placeholder="″"
                            value=""
                            (keyup)="
                              setSteelSizeWheelBalance(
                                element._id!,
                                inputWheelBalanceSteelTo,
                                inputWheelBalanceSteelFrom
                              )
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-15-rim two-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Do</mat-label>
                          <input
                            #inputWheelBalanceSteelTo
                            matInput
                            type="text"
                            maxlength="2"
                            placeholder="″"
                            value=""
                            (keyup)="
                              setSteelSizeWheelBalance(
                                element._id!,
                                inputWheelBalanceSteelTo,
                                inputWheelBalanceSteelFrom
                              )
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-30-rim four-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Cena</mat-label>
                          <input
                            #inputPriceWheelBalanceSteel
                            matInput
                            maxlength="6"
                            placeholder="Cena w PLN"
                            value="{{ element.price }}"
                            (keyup)="
                              setPriceSteelSizeWheelBalance(
                                element._id!,
                                inputPriceWheelBalanceSteel
                              )
                            "
                          />
                        </mat-form-field>
                        <mat-form-field
                          class="width-30-rim four-digit padding-right-1em"
                          appearance="fill"
                        >
                          <mat-label>Czas wykonania usługi</mat-label>
                          <input
                            #inputWheelBalanceTimeSteel
                            matInput
                            type="time"
                            maxlength="5"
                            placeholder="Czas HH:MM"
                            value="{{ element.time }}"
                            (keyup)="
                              setSteelSizeTimeWheelBalance(
                                element._id!,
                                inputWheelBalanceTimeSteel
                              )
                            "
                            (change)="
                              setSteelSizeTimeWheelBalance(
                                element._id!,
                                inputWheelBalanceTimeSteel
                              )
                            "
                          />
                        </mat-form-field>
                        <div class="width-10-rim">
                          <button
                            type="button"
                            class="btn btn-danger btn-business-managment"
                            (click)="removeWheelBalanceSteelSize(element)"
                          >
                            X
                          </button>
                        </div>
                      </div>
                      <div class="one-column">
                        <small *ngIf="element.messageSizeNotValid"
                          >Nieprawidłowy format lub pusty rozmiar felgi</small
                        >
                        <small *ngIf="element.messageSizeIsExist"
                          >Taki rozmiar już istnieje</small
                        >
                        <small *ngIf="element.messagePriceNotValid"
                          >Nieprawidłowy format ceny (XX.XX)</small
                        >
                        <small *ngIf="element.messagePriceIsReq"
                          >Wymagana cena!</small
                        >
                        <small *ngIf="element.messageSizeTimeReq"
                          >Wymagany czas wykonania usługi</small
                        >
                      </div>
                    </form>
                    <mat-divider></mat-divider>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Prostowanie felg">
        <mat-checkbox
          class="margin-top font-larger"
          [(ngModel)]="straighteningRimsChecked"
          color="primary"
          >Prostowanie felg aluminiowych</mat-checkbox
        >
      </mat-tab>
      <mat-tab label="Usługi niestandardowe">
        <h5 class="margin-top font-larger">Usługi niestandardowe</h5>
        <span>Dodawanie</span>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
